{% verbatim %}
<!----------------------------  故事板 ----------------------------->
<!-- 新动作按钮 -->
<script type="text/x-template" id="newAction-btn">
    <div>
        <button>+</button>
        <button v-for="iter in action_types" :key="iter.type_name" @click="addAction(iter.type_name)">{{iter.display_name}}</button>
    </div>
</script>

<!-- 故事板编辑 -->
<script type="text/x-template" id="panel-storyline">
    <div class="panel-storyline"><h3>故事板</h3>
        <action v-for="(action, index) in ed_data.sl_data.actions" 
            :action="action"
            :action_types="action_types"
            :ed_data="ed_data"></action>
        <newAction-btn v-bind:action_types=action_types
            :ed_data=ed_data>+</newAction-btn>
    </div>
</script>

<!-- 行动元素 -->
<script type="text/x-template" id="id-action">
    <div class="elem-action" @click="onSelected">
        <p>{{display_name}}<button @click="remove">-</button></p>
        <component v-bind:action="action" :is="'action-' + action.type_name.toLowerCase()"></component>
    </div>
</script>

<!---------------------------- 行动编辑 ---------------------------->
<script type="text/x-template" id="action-editor">
    <div class=panel-action>行动编辑
        <component v-if="action!=null" v-bind:action="action" :is="'ed-' + action.type_name.toLowerCase()"></component>
    </div>
</script>

<!-------------  动作分类 --------------->
<script type="text/x-template" id="ed-sentence">
    <div>
        <input type="text" id="id_avatar" v-model="action.avatar" />
        <textarea type="text" id="id_text" v-model="action.text"></textarea>
        <p>{{action}}</p>
    </div>
</script>
<script type="text/x-template" id="sl-sentence">
    <div>
        <pre><p>{{action.avatar}}:{{action.text}}</p></pre>
    </div>
</script>


<script type="text/x-template" id="ed-dialog">
    <div>
        <p>{{action}}</p>
    </div>
</script>
<script type="text/x-template" id="sl-dialog">

</script>


<script type="text/x-template" id="ed-decision">
    <div>
        <p>{{action}}</p>
    </div>
</script>
<script type="text/x-template" id="sl-decision">
</script>


<script type="text/x-template" id="ed-game">
    <div>
        <p>{{action}}</p>
    </div>
</script>
<script type="text/x-template" id="sl-game">
</script>
{% endverbatim %}