*{
    /* font-family: HK_BD; */
}

#root {
    position: relative;
    margin: 0.5rem;
    border-radius: 1rem;
    border: 2px double;
    size: 100% 100%;
    height: 100%;
}

#id_editor {
    position: absolute;
    width: 75%;
    height: auto;
    border: 1px solid;
    border-radius: 1rem;
}

/*************************************************/
.panel-storyline {
    margin: 2px;
    position: absolute;
    width: 59.5%;
    border: 1px solid;
    border-radius: 4px;
}

.elem-action {
    padding: 0%;
    margin: 1px; 
    border: 1px solid;
    border-radius: 8px;
    text-align: left;
    vertical-align: top;
}

.action-selected {
    background-color: gray;
}

/*************************************************/
#id_sub_panel {
    margin: 2px;
    position: absolute;
    left: 60%;
    width: 39.5%;
    border: 1px dotted;
}

.panel-action {
    display: inline-block;
    top: 0%;
    width: 100%;
    border: 1px solid;
    border-radius: 4px;
}

.panel-trigger {
    margin-top: 1rem;
    display: inline-block;
    width: 100%;
    border: 1px solid;
    border-radius: 4px;
}


#id_previewer {
    position: absolute;
    left: 75%;
    border: 1px dotted;
}