{% extends "base_bs_style.html" %} 
{% load static %} 
{% block title %}Notice Editor{% endblock %} 
{% block jsPage %}
<script type="text/javascript" src="{% static 'js/libs/schedule.js' %}"></script>
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
<style>
    .bg-DBlue {
        background-color: linear-gradient(red,blue);
    }

    * {
        margin: 0;
        padding: 0;
    }

    ul {
        list-style: none;
    }

    #schedule-box {
        border-width: 2px;
        border-color: #333333;
        width: 320px;
        margin: 0 auto;
        padding: 35px 20px;
        font-size: 13px;
    }

    .schedule-hd {
        display: flex;
        justify-content: space-between;
        padding: 0 15px;
    }

    .today {
        flex: 1;
        text-align: center;
    }

    .ul-box {
        overflow: hidden;
    }

    .ul-box>li {
        float: left;
        width: 14.28%;
        text-align: center;
        padding: 5px 0;
    }

    .other-month {
        color: #999999;
    }

    .current-month {
        color: #333333;
    }

    .today-style {
        border-radius: 50%;
        background: #58d321;
    }

    .arrow {
        cursor: pointer;
    }

    .dayStyle {
        display: inline-block;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        text-align: center;
        line-height: 35px;
        cursor: pointer;
    }

    .current-month>.dayStyle:hover {
        background: #00BDFF;
        color: #ffffff;
    }

    .today-flag {
        background: #00C2B1;
        color: #fff;
    }

    .boxshaw {
        box-shadow: 2px 2px 15px 2px #e0e0e0;
    }

    .selected-style {
        background: #00BDFF;
        color: #ffffff;
    }

    #h3Ele {
        text-align: center;
        padding: 10px;
    }
</style>
<script type="text/javascript" src="{% static 'js/notice/notice_editor.js' %}"></script> 
{% endblock %} 

{% block content %} 
{% csrf_token %}
<h2 class="text-center font-weight-bold p-1 text-warning">公告发布</h2>
<div class="container border border-dark mx-5 py-4 bg-light rounded " style="background: linear-gradient(#ffffff,#a09f9f)">    
    <div class="row">
        <div class="col-8">
            <div class="row-fluid">
                <div class="text-center p-1 boxshaw border-dark">
                    <div class="input-group p-1 m-auto " style="height: 200px;width: 61.8%;">
                        <div class="input-group-prepend">
                            <span class="input-group-text">公告内容</span>
                        </div>
                        <textarea class="form-control" aria-label="With textarea" id="id_content" style="resize: none"></textarea>
                    </div>
                    <p>
                        <button class="btn btn-primary mt-2" type="button" data-toggle="collapse" data-target="#date_selector" aria-expanded="false" aria-controls="date_selector"
                            id="label_pubdate">
                            发布日期:20--/--/--
                        </button>
                    </p>
                    <div class="collapse" id="date_selector">
                        <div id='schedule-box' class="boxshaw"></div>
                    </div>
                    <div class="input-group p-1 m-auto" style="width: 61.8%;">
                        <div class="input-group-prepend">
                            <span class="input-group-text">持续时间</span>
                        </div>
                        <input class="form-control" type="number" min="1" max="100" value="3" id="id_last_day" required></input>
                        <div class="input-group-append">
                            <span class="input-group-text">天</span>
                        </div>
                    </div>
                </div>
                <div class="text-right">
                    <button class="btn btn-danger right" type="button" id="btn_public" data-url="{% url 'notice:public' %}">发布</button>
                </div>
            </div>
        </div>
        <div class="col-4 border-left border-dark">
            <div class="card bg-warning">
                <div class="card-header text-center">
                    已发布公告列表
                </div>
                <!-- <div class="card-body"> -->
                {% for notice in notice_list %}
                <button class="list-group-item list-group-item-action list-group-item-warning inline-block text-truncate" data-notice={{notice.id}} id="notice_{{notice.id}}"
                    onclick="onNoticeClick(event)">{{notice.content}}</button>
                {% endfor %}
                <!-- </div> -->
                <div class="card-footer text-center">
                    <button class="btn btn-danger" type="button" id="btn_delete" data-url="{% url 'notice:delete' notice_id=9999 %}" onclick="onDeleteNotice(event)">删除所选公告</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block header %} 
{% include "user/teacher_header.html" %} 
{% endblock %}