{% load static %}
<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="UTF-8" />
        <!-- vue 开发环境版本，包含了有帮助的命令行警告 -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
        <script type="text/javascript" src="{% static 'js/runtime/core.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/runtime/baseActions.js' %}"></script>

        <link rel="stylesheet" href="{% static 'css/editor/components.css' %}"/> 
    </head>
<body>
{% include ".\editor_components.html" %}
{% verbatim %}
    <div id="root">  
        <div id="id_editor">
            <panel-storyline 
            v-bind:ed_data="ed_data"
                :action_types="action_types">
            </panel-storyline>
            <div id="id_sub_panel">
                <panel-action v-bind:action="ed_data.cur_action">
                </panel-action>

                <panel-show v-bind:ed_data="ed_data">
                </panel-show>
            </div>
        </div>
        <div id="id_previewer">
            效果预览
            <p>{{testData}}</p>
        </div>
    </div>
{% endverbatim %}
    <script type="text/javascript" src="{% static 'js/editor/components.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/storyboard.js' %}"></script>
</body>
</html>