*{
    /* font-family: HK_BD; */
}

#root {
    position: relative;
    margin: 0.5rem;
    border: 2px dotted;
}

#id_editor {
    position: absolute;
    width: 75%;
    border: 1px dashed;
}

#id_story_panel {
    position: absolute;
    width: 70%;
    border: 1px dotted;
}

#id_action_panel {
    position: absolute;
    left: 70%;
    width: 30%;
    border: 1px dotted;
}

#id_show_panel {
    position: absolute;
    border: 1px dotted;
}


#id_previewer {
    position: absolute;
    left: 75%;
    border: 1px dotted;
}