

.text-outline-deepblue {
    text-shadow:1px 0px 1px rgb(26,98,133), 
                -1px 0px 1px rgb(26,98,133),
                0px 1px 1px rgb(26,98,133),
                0px -1px 1px rgb(26,98,133),
                1px 1px 1px rgb(26,98,133),
                1px -1px 1px rgb(26,98,133), 
                -1px 1px 1px rgb(26,98,133), 
                -1px -1px 1px rgb(26,98,133);
}

.btn-round-orange, .btn-round-red, .btn-round-wine {
    font-family: inherit;
    font-size: 1.5em;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;

    padding: 0.3em 1em 0.3em 1em;
    box-shadow: #3d2410 2px 2px 2px;
}

.btn-round-orange {
    color: aliceblue;
    border-color: #3d2410;
    background: linear-gradient(176deg, #f59541 , #b66f30 45%, #9c571a 55%, #aa5a13 90% );
}

.btn-round-wine {
    color: aliceblue;
    border-color: #e33030;
    background: linear-gradient(174deg, #f36262 , #f36262 50%, #e33030 60%, #e33030 100% );
}

.control-group {
    white-space: nowrap;
    overflow: hidden;
}

.control-group input[type='checkbox'],
.control-group input[type='checkbox']:checked,
.control-group input[type='radio'],
.control-group input[type='radio']:checked {
    width: 0px;
    display: inline-block;
    display: none;
}

.control-group input[type='checkbox'] + label,
.control-group input[type='checkbox']:checked + label,
.control-group input[type='radio'] + label, 
.control-group input[type='radio']:checked + label {

    font-family: inherit;
    font-size: 1.0em;
    display: inline-block;
    color: #626262;
    line-height: 1.2em;

    margin-top: 0.25em;
    margin-bottom: 0.25em;
    padding-top: 0.375em;
    padding-bottom: 0.375em;
    padding-left: 0.5em;

    border-width: 0.125rem;
    border-style: solid;
    border-radius: 0.25rem;
    border-color: rgba(1, 41, 48, 0.178);   
    box-shadow: 0.0625rem 0.0625rem 0.25rem gray;
}

.control-group input[type='checkbox'] + label,
.control-group input[type='radio'] + label {
    background: linear-gradient(179deg, #ebebeb , #e2e2e2 46%, #c5c5c5 54%, #b1b1b1 100% );
}

.control-group input[type='checkbox']:hover + label,
.control-group input[type='radio']:hover + label {
    background: linear-gradient(179deg, #f1f1f1 , #ffffff 50%, #ececec 58%, #d3d3d3 100% );
}

.control-group input[type='checkbox']:checked + label,
.control-group input[type='radio']:checked + label {
    color: #ffffff;
    background: linear-gradient(179deg, #73c9e9 , #73c9e9 46%, #38a4d6 54%, #2b96c7 100% );
}

.control-group input[type='checkbox']:checked:hover + label,
.control-group input[type='radio']:checked:hover + label {
    color: #ffffff;
    background: linear-gradient(179deg, #94e3ff , #84d2ee 50%, #57bbe9 58%, #42a6d4 100% );
}

.control-group input[type='checkbox']:disabled + label,
.control-group input[type='radio']:disabled + label {
    background: linear-gradient(179deg, #dbdbdb , #c2c2c2 46%, #aaaaaa 54%, #a5a5a5 100% );
}


.control-group input[type='checkbox']:disabled.checked-key + label,
.control-group input[type='radio']:disabled.checked-key + label {
    background: linear-gradient(179deg, #9cd37f , #58c65d 50%, #57a65b 60%, #419a4d 100% );
    box-shadow: 0rem 0rem 0.5rem rgb(0, 255, 64);
}

.control-group input[type='checkbox']:disabled.checked-no + label,
.control-group input[type='radio']:disabled.checked-no + label {
    background: linear-gradient(179deg, #f59898 , #f17575 50%, #d15e5e 60%, #cd4e4e 100% );
    box-shadow: 0rem 0rem 0.5rem #ff7070;
}

.control-group input[type='checkbox']:disabled.no-key + label,
.control-group input[type='radio']:disabled.no-key + label {
    border-width: 0.125rem;
    border-style: solid;
    border-color: #f17575; 
    box-shadow: 0rem 0rem 0.75rem #ff7070;
}

.control-group input[type='checkbox']:disabled.no-no + label,
.control-group input[type='radio']:disabled.no-no + label {    
    box-shadow: 0rem 0rem 0rem #000000;
}