@import url(./font_inc.css);
*{
    font-family: HK_Yuan;    
}

body {
    background-image: url('/Statics/images/BG_sm.jpg');
    background-blend-mode: lighten;
    background-color: rgba(232, 246, 255, 0.685);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
    background-origin: content-box;
    /*background-clip:border-box*/
}

.blur-clear {
    transition-delay: 3s;
    transition-property: all;
}

#main-panel {
    width: 462px;
    height: 330px;
    margin: auto;
    /*border: 3px solid;*/
    text-align: center;
}

#login-title {
    font-size: 52px;
    font-weight: 600;
    position: relative;
    left:-58px;
    top:42px;
    color: aliceblue;
    z-index:1;
    text-shadow: 4px 8px 8px rgb(22, 58, 73)
}

#login-title-outline {
    position:relative;
    left:80px;
    top:42px;        
    font-size: 52px;
    font-weight: 900;    

    color: rgb(26,98,133);
}

#panel-bg {
    width: 100%;
    height: 290px;
    background-color: #78c5e1;
    border-style: solid;
    border-width: 2px;
    border-color: #56aad1;
    /* border-right-color: #207aa3;
    border-bottom-color: #207aa3; */
    border-radius: 22px;
    box-shadow: 6px 8px 1px rgb(51,115,145);
}


#id_username, #id_username:active, #id_password, .text-input-1 {
    width: 286px;
    height: auto;
    font-size: 28px;
    padding: 4px; 
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    border-color: rgb(51,115,145);
    box-shadow: 0px 0px 4px #3d6370;
    background-color: #d1eef8;
}

label {
    font-size: 28px;
    color: azure;
    width: 250px;
    text-shadow:1px 0px 2px rgb(51,115,145),
                -1px 0px 2px rgb(51,115,145),
                0px -1px 2px rgb(51,115,145),
                0px 1px 2px rgb(51,115,145),
                1px 1px 2px rgb(51,115,145),
                1px -1px 2px rgb(51,115,145),
                -1px -1px 2px rgb(51,115,145),
                -1px 1px 2px rgb(51,115,145);   
}

.text-outline-deepblue {
    text-shadow:1px 0px 1px rgb(26,98,133), 
                -1px 0px 1px rgb(26,98,133),
                0px 1px 1px rgb(26,98,133),
                0px -1px 1px rgb(26,98,133),
                1px 1px 1px rgb(26,98,133),
                1px -1px 1px rgb(26,98,133), 
                -1px 1px 1px rgb(26,98,133), 
                -1px -1px 1px rgb(26,98,133);
}

.text-outline-deepblue-3px {
    text-shadow:3px 0px 1px rgb(26,98,133), 
                -3px 0px 1px rgb(26,98,133),
                0px 3px 1px rgb(26,98,133),
                0px -3px 1px rgb(26,98,133),
                3px 3px 1px rgb(26,98,133),
                3px -3px 1px rgb(26,98,133), 
                -3px 3px 1px rgb(26,98,133), 
                -3px -3px 1px rgb(26,98,133);
}

#Form_Login {
    position: relative;
    top: 68px;
}

#Form_Login>p {
    width: 424px;
    text-align: right;
    margin-right: 20px;
}