@import url(./font_inc.css);
@import url(./common_lib.css);

html {
    font-size: 20px;
    font-family: HK_Yuan7;
}

body {
    background-image: url('/Statics/images/BGs/stu_main_BG.jpg');
    background-blend-mode: normal;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
    background-origin: inherit;
    /*background-clip:border-box*/
}

#root_panel {
    position: absolute;
    left: 0rem;
    top: 0rem;
    width: 70rem;
    height: 39.375rem;
    margin: auto;
    border: 3px solid;
    background-color: rgb(240, 255, 255, 0.5);
}


/*-------------------------------------------------------------*/
#stud_prof {
    position: absolute;
    left: 0rem;
    top: 0rem;
    width: 64rem;
    height: 6rem;    
    /* text-align: center; */
    border-style: solid;
    border-width: 0.05rem;
    border-radius: 0.35rem;
    border-color: white;
    border-image-source: url('/Statics/images/stu_frame.png');
    border-image-slice: 40% 40% 40% 40%;
    border-image-width: 4rem 4rem;
    border-image-outset: 0rem 0.1rem 1.55rem 0rem;
    border-image-repeat: fill;

}

#id_username, #id_username:active, #id_password, .text-input-1 {
    width: auto;
    height: auto;
    font-size: 24px;
    padding: 4px; 
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    border-color: rgb(51,115,145);
    box-shadow: 0px 0px 4px #3d6370;
    background-color: #d1eef8;
}


/*-------------------------------------------------------------*/
#lesson_panel {
    left: 0rem;
    top: 6rem;
 
    position: absolute;
    border: 3px dashed;
}

#girl_panel {
    left: 0rem;
    top: 6rem;
    width: 19rem;
    height: 38rem;  
    position: fixed;
    border: 1px dotted;
    content: url('/Statics/images/yoyo4.png');    
}

#exam_entrance {
    left: 13.9375rem;
    top: 0rem;
    width: 13.9375rem;
    height: 8rem;
    position: absolute;
    text-align: inherit;
    border: 1px dashed;
}

#class_list {
    left: 13.9375rem;
    top: 8rem;
    width: 36rem;
    position: absolute;
    text-align: inherit;
    border: 1px solid;
}


/*-------------------------------------------------------------*/
#hanging_panel {    
    left: 50rem;
    top: 6rem;
    position: absolute;
}

#notice_panel {
    width: 18rem;
    background-color: #6ebddb;
    border-style: solid;
    border-width: 0.075rem 0.125rem 0.125rem 0.075rem;
    border-color: #e6f0f3;
    /* border-right-color: #207aa3;
    border-bottom-color: #207aa3; */
    border-radius: 1rem;
    box-shadow: 0.125rem 0.25rem 0.25rem #207aa3;
    text-align: center;
}

#tree_img {
    z-index: 0;
    top: 8.5rem;
    right: 0.2rem;
    position: absolute;
    opacity: 0.9;
}

#notice_panel #inner_panel {
    z-index: 2;
    height: 10rem;
    margin: 0.8rem 0.75rem 0.5rem 0.5rem; 
    padding: 0.125rem 0.125rem 0.125rem 0.125rem;
    background-color: rgba(255, 255, 255, 0.95);
    border-style: solid;
    border-radius: 0.75rem;
    border-top-color: #d1dfe3;
    border-bottom-color: #8793bf;
    border-width: 2rem 0rem 0.25rem 0rem;
    box-shadow: 0.25rem 0.125rem 0.1rem #8793bf;
}

#notice_panel #inner_panel h3 {
    color: #6898c2;
    font-size: 1.4rem;
    font-weight: 900;
    position: absolute;
    top: -0.3rem;
    width: 92%;
    text-align: center;
    text-indent: 0em;
    text-shadow: 0.125rem 0.125rem 0.5rem #32515c;
}

#notice_show {
    padding: 0.1rem 0.8rem 0.5rem 0.8rem;
    font-size: 1.1rem;
    color: #dd6755;
    position: relative;
    top: 0.4rem;
    line-height: 1.3em;
    text-align: left;
    text-indent: 2em;
    text-shadow: 0rem 0rem 0.05rem #64281f;
}


#billboard_panel {
    text-align: left;
    height: 16.4rem;
    background-image: url('/Statics/images/BGs/billboard-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#billboard_content {
    position: relative;
    top: 4rem;
    line-height: 1.4em;
}

#billboard_content li {
    position: relative;
    left: -0.8rem;
    width: 96%;
    list-style-type:none;
    border: 1px dotted;
}


#panel-bg {
    width: 100%;
    height: 290px;
    background-color: #78c5e1;
    border-style: solid;
    border-width: 2px;
    border-color: #56aad1;
    /* border-right-color: #207aa3;
    border-bottom-color: #207aa3; */
    border-radius: 18px;
    box-shadow: 3px 3px 3px rgb(51,115,145);
}



label {
    font-size: 24px;
    color: azure;
    text-shadow:1px 0px 2px rgb(51,115,145),
                -1px 0px 2px rgb(51,115,145),
                0px -1px 2px rgb(51,115,145),
                0px 1px 2px rgb(51,115,145),
                1px 1px 2px rgb(51,115,145),
                1px -1px 2px rgb(51,115,145),
                -1px -1px 2px rgb(51,115,145),
                -1px 1px 2px rgb(51,115,145);   
}