@import url(./font_inc.css);
@import url(./common_lib.css);

html {
    font-size: 18px;
    font-family: HK_BD;
}

body {
    /* background-image:  url('/Statics/images/BGs/Levels.png'); */
    /* background-image: radial-gradient(#6aa8c5, #175977); */
    /* background-image: url('/Statics/images/BGs/Home.png'); */
    background-color: #175977;
    background-blend-mode: normal;
    /* background-size: cover; */
    background-repeat: repeat; /* no-repeat;*/
    background-position: left top;
    background-attachment: fixed;
    background-origin: inherit;
    /*background-clip:border-box*/
}

#root_panel {
    z-index: 0;
    position: absolute;
    left: 14rem;
    top: 1rem;
    width: 52rem;
    height: 48rem;
    margin: auto;
    border: 0.4rem solid;
    border-color: white;
    border-radius: 4rem;
    background-size: cover;
    background-position: left top;
    background-attachment: fixed;
    background-origin: inherit;    
    /* background-image: radial-gradient(#6aa8c5, #175977);     */
    background-image: url('/Statics/images/BGs/Levels.png');
}

#bottom_panel {
    position: absolute;
    background-color: rgba(204, 236, 255, 0.8);
    border-style: solid none solid none;
    border-width: 0.125rem;
    height: 0.6rem;
    left: 0rem;
    top: 48rem;
    width: 100%;
    border-color: white;
}
/*-------------------------------------------------------------*/
#stud_prof {
    position: absolute;
    padding-top: 0.3rem;
    left: 0rem;
    top: 0.2rem;
    width: 100%;
    height: 3.9rem;    
    /* text-align: center; */
/* 
    background-color: rgba(204, 236, 255, 0.8);
    border-style: solid none solid none;
    border-width: 0.125rem;

    border-color: white; */
    /* border-image-source: url('/Statics/images/stu_frame.png');
    border-image-slice: 40% 40% 40% 40%;
    border-image-width: 4rem 4rem;
    border-image-outset: 0rem 0.1rem 1.55rem 0rem;
    border-image-repeat: fill; */
}

#prof_inner {    
    vertical-align: middle;
    position: relative;
    left: 0rem;
    top: 0.8rem;
    padding-top: 0%;
    /* border: 3px dashed; */
}

#prof_bg {
    z-index: 0;
    margin-top: 0.8rem;
    position: absolute;
    float: left;
    width: 100%;
    height: 1.6rem; 
    background-color: #fac785;    
}

#user_info label {
    position: relative; 
    top: -2.2rem;
    font-size: 20px;
    color: azure;
    text-shadow:1px 0px 2px rgb(51,115,145),
                -1px 0px 2px rgb(51,115,145),
                0px -1px 2px rgb(51,115,145),
                0px 1px 2px rgb(51,115,145),
                1px 1px 2px rgb(51,115,145),
                1px -1px 2px rgb(51,115,145),
                -1px -1px 2px rgb(51,115,145),
                -1px 1px 2px rgb(51,115,145); 
    margin-right: 0.5em;                  
}

#user_info, #user_add {
    display: inline-block;
    position: absolute;
    top: 0.3rem;
    height: 2.6rem;
    padding-top: 0.2rem;
    padding-left: 0rem;
    padding-right: 0.4rem;
}

#user_info {
    left: 2rem;
    border-style: none;
    border-width: 0.3rem;
    border-radius: 2rem;
    border-color: #abcbd4;    
    background-image: linear-gradient(#a0e0ff, white 25%, white 75%, #a0e0ff 100%);
 /* border: 3px dashed; */        
}

#id_user {}
#id_student_number {}
#id_class_id {}

#user_add {
    left: 26rem;
}

#icon_gold label {
    position: relative; 
    font-size: 1rem;
    color: azure;
    text-shadow:1px 0px 2px gold,
                -1px 0px 2px gold,
                0px -1px 2px gold,
                0px 1px 2px gold,
                1px 1px 2px gold,
                1px -1px 2px gold,
                -1px -1px 2px gold,
                -1px 1px 2px gold;
    text-align: center;
    top: 2.9rem;
    left: 1.2rem;
    width: 4em;
    margin-right: 0.5em;
}


#icon_user, #icon_gold {
    position: relative;
    display: inline-block;
    top: -0.8rem;
    left: 0rem;
    align-content: center;     
}

#icon_user {
    background-size: 100% 100%;
    background-image: url('/Statics/images/char.png');
    width: 3.2rem;
    height: 3.2rem;
    border-style: solid;
    border-width: 0.3rem;
    border-radius: 2rem;  
    border-color: white;  
    box-shadow: 0rem 0rem 0.2rem white;   
    background-color: #5ec2bf;   
}

#icon_gold {
    top: -1rem;
    width: 4.6rem;
    height: 4.6rem;
    background-size: 100% 100%;
    background-image: url('/Statics/images/gold/icon_star.png'); 
}

/*-------------------------------------------------------------*/
#lesson_panel {
    position: absolute;
    left: 0.5rem;
    top: 9rem;
}

#girl_panel {
    left: 0rem;
    top: 8rem;
    width: 20rem;
    height: 40rem;  
    position: fixed;
    /* border: 1px dotted; */
    background-size: 100% 100%;
    /* background-image: url('/Statics/images/yoyo4.png');    */
    alt: "cc";
}

#lesson_list_panel {
    /* text-align: center;
    align-content: center;     */
    position: absolute;
    left: 10.6rem;
    top: 30rem;
    width: 30rem;
    height: 6rem;      
    /* border: 1px dotted; */
}

.lesson-book{
    width: 7.3392rem;
    height: 8.8rem;
    background-repeat: no-repeat; 
    position: relative;
    align-content: center;
    background-position: center 50%;
    background-size: 70% 70%;
    background-image: url('/Statics/images/Book.png');    
    /* border: 1px dotted; */
}

.btn-up {
    width: 3rem;
    height: 2rem;
    border: none;
    background-color: rgba(255, 255, 255, 0);    
    background-image: url('/Statics/images/arrow-up.png');
    background-repeat: no-repeat; 
    background-size: 100% 100%;
}

.btn-up:hover{
    background-image: url('/Statics/images/arrow-up-over.png');
}

#lesson_ctrl span {
    display: block;
    position: relative;
    top: 0rem;
    left: 0rem;
    width: 8rem;
    height: 10rem;
}

#move_prev, #move_next {
    width: 4.2rem;
    height: 3.6rem;
    display: block;
    position: absolute;
    border: none;
    background-color: rgba(255, 255, 255, 0);    
    background-repeat: no-repeat; 
    background-size: 100% 100%;
    background-image: url('/Statics/images/arrow.png');
    top: 1rem;
}
#move_prev:hover, #move_next:hover {
    background-image: url('/Statics/images/Arrow-l.png');
}
#move_prev {
    left: 0%;
}

#move_next {
    right: 0%;
    transform: rotate(180deg);    
}

#lesson_ctrl {
    position: relative;
    top: -2rem;
    left: 4rem;
    width: 22rem;
    height: 10rem; 
    /* border: 1px dashed;   */
    overflow: hidden;
}
 
/* #l_m {
    width: 14rem;    
    background-image: url('/Statics/images/BookOpen.png');
} */

#lesson_ctrl li {
    list-style-type: none;
    float: left;
}

#lesson_inner {
    position: absolute;
    width: 50rem;
    top: 0rem;
    left: 2rem;
}

.anim-move {    
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

.lesson_label {
    position: absolute;    
    text-align: center;
    font-size: 150%;
    top: 1.7em;
    left: 0.2em;
    width: 5em;
    height: 4em;
    line-height: 120%;
    color: #fffcce; 
}

.lesson_label-scaled {
    font-size: 220%;
    top: 0.78em;
    left: -0.56em;
}

/* --------------------- 课程 --------------------- */
#cur_lesson_panel {
    position: absolute;
    left: 0rem;
    top: 0rem;
    width: 50rem;
    height: 32rem;
    /* border: 1px dashed; */
}
.panel-blue, .panel-pink {
    width: 25rem;
    height: 22rem;
    /* border-style: solid;
    border-width: 3px;
    border-image: radial-gradient(#cc82f0, #b570d8); */    
    background-size: 100% 100%;
    padding: 0% 0% 0% 0%;
}

.panel-blue { background-image: url('/Statics/images/BGs/Blue.png'); }
.panel-pink { background-image: url('/Statics/images/BGs/Pink.png'); }


.panel-cloud {
    position: absolute;
    left: 2%;
    bottom: 2%;
    width: 96%;
    height: 88%;
    background-image: url('/Statics/images/BGs/WhiteClouds.png');    
    background-size: 100% 100%;
}

#learn_book_panel, #practice_panel {
    top: 5rem;
    position: absolute;    
}
#learn_book_panel {    
    left: 0rem;
}
#practice_panel {
    left: 26rem;
}
.icon_lesson, .icon_practice {
    display: block;
    position: absolute;
    content: "";
    top: -3.5rem;
    left: 3rem;
    width: 10.5rem;
    height: 10.5rem;
    background-size: 100% 100%;    
}
.icon_lesson {
    background-image: url('/Statics/images/icon_raccoon.png');
}

.icon_practice {
    background-image: url('/Statics/images/icon_checkin.png');
}

#chapter_title, #girl_sent {
    position: relative;
    top: 3.2rem;
    left: 0.5rem;
    width: 22rem;
    font-size: 1.2rem;
    font-weight: bolder;    
    color: #2b728c;    
    text-align: center;
}

#girl_sent {
    color: #fe649e;  
}

.icon_book {
    position: absolute;
    left: 0rem;
    top: 0rem;
    width: 35rem;
    height: 32rem;       
    background-size: 100% 100%;
    background-image: url('/Statics/images/book-open.png');
}
#study_title, #practice_title {
    position: absolute;
    right: 0.5rem;
    top: -0.5rem;
    width: 12.5rem;
    height: 3.2rem;       
    background-size: 100% 100%;
    text-align: center;  
    padding-top: 1.2rem; 
    font-size: 1.8rem;
    
}

#study_title { background-image: url('/Statics/images/Flag.png'); color: white; }
#practice_title { background-image: url('/Statics/images/Flag_B.png'); color: white; }

#btn_lesson, #btn_practice {
    text-decoration:none;
    position: absolute;
    right: 6rem;
    bottom: 0.8rem;
    font-family: inherit;
    font-size: 1.4em;
    border-style: solid;
    border-width: 3px;
    border-radius: 3rem;
    margin-top: 0.8em;
    padding: 0.3em 1em 0.3em 1em;
    color: aliceblue;
}
#btn_lesson {
    border-color: #1d8cb6;
    background: linear-gradient(176deg, #53eeff , #26a9d1 50%, #1798bf 60%, #0988ad 100% )        
    /* width: 15rem;
    height: 17rem;  
    background-image: url('/Statics/images/book-learn.png');
    background-repeat: no-repeat;
    background-size: contain;          */
}

#btn_practice {
    border-color: #af4d6c;
    background: linear-gradient(176deg, #ffa5dc , #e06ea5 50%, #d6649b 60%, #cc538a 100% )        
}

.icon_locker {
    position: absolute;
    top: -1rem;
    right: 0rem;
    width: 10.6rem;
    height: 10.6rem;  
    z-index: 3;
    background-size: 100% 100%;
    background-image: url('/Statics/images/power_lock.png');
    transition-property: opacity;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
}

.bg_lesson, .bg_prac {
    position: absolute;
    top: 0.6rem;
    left: 1rem;    
    width: 14rem;
    height: 14rem;
    border-style: none;
    border-radius: 50%;
    opacity: 1;
    background-position: 70% 70%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    animation: anim-blin 2s infinite linear;
    content: "";
}
.bg_lesson {
    background-image: radial-gradient( rgba(183, 167, 255, 0.9) 40%, rgba(187, 168, 255, 0.01) 70%);
}
.bg_prac {
    background-image: radial-gradient( rgba(240, 167, 255, 0.9) 35%, rgba(248, 168, 255, 0.01) 70%);
}
@keyframes anim-blin {
    50% {
        background-size: 70% 70%;
    }
}
.fade-out {
    opacity: 0;
}

#lesson_info, #practice_info {
    position: absolute;
    left: 1.2rem;
    top: 6rem;
    width: 21.5rem;
    height: 12.5rem;  
}

#lesson_info_inner, #practice_info_inner {
    position: absolute;
    color: #418cce; 
    top: 1rem;
    height: 7.5rem;
    width: 100%;
    background-color: #fff0c6;
    border-radius: 2rem;
}

#practice_info_inner { 
    background-color: #b0e0f0; 
    height: 7.5rem;
}

#lesson_book_open {    
    position: absolute;
    /* background-position: center 4%; */
    background-repeat: no-repeat; 
    background-size: 100% 100%; 
    top: 0rem;
    left: 1rem;
    height: 7.9rem; 
    width: 8rem;    
    background-image: url('/Statics/images/tips.png');
    content: "";
}

#practice_girl {    
    position: absolute;
    /* background-position: center 4%; */
    background-repeat: no-repeat; 
    background-size: 100% 100%; 
    top: 0.3rem;
    left: 0.6rem;
    height: 7rem; 
    width: 7rem;    
    background-image: url('/Statics/images/zjm_t.png');
    content: "";
}

#lesson_info p, #practice_info p {
    position: absolute;
    font-size: 1.2rem;
    /* border: 1px dashed;  */
    right: 2.5rem;
    width: 10rem;
    height: 4rem;
}

#lesson_locked, #practice_locked {
    position: absolute;
    left: 1.2rem;
    top: 7.6rem;
    width: 11rem;
    height: 5.3rem;  
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.2em;
    color: #dd5582;    
    background-color: #b0e0f0;
    border-radius: 2rem;
    padding-top: 1.1rem;    
    padding-bottom: 1.2rem;    
    padding-left: 1rem;
    padding-right: 9.8rem;
}

#lesson_info span {
    opacity: 0.6;
    z-index: -1;
    position: absolute;
    left: 14rem;
    top: 2rem;
    width: 6rem;
    height: 6rem;      
    background-size: 100% 100%;
    background-image: url('/Statics/images/key.png');
    content: "";
}

/* #practice_info {
    position: absolute;
    left: -12rem;
    top: 3rem;
    width: 12rem;
    height: 5.4rem; 
    font-size: 1.3rem;
    font-weight: 900;
    line-height: 1.2em;
    color: #da5fc9;
    text-shadow: 0rem 0rem 0.4rem rgba(162, 164, 255, 0.952); 
    background: linear-gradient(to left, rgba(255, 151, 241, 0), rgba(255, 151, 241, 0.1) 40%, rgba(255, 138, 239, 0.4));
    border-radius: 2rem;
    padding: 1rem;
    padding-top: 3rem;
} */

#practice_info span {
    opacity: 0.8;
    z-index: -1;
    position: absolute;
    left: 3rem;
    top: 2rem;
    width: 6rem;
    height: 6rem;      
    background-size: 100% 100%;
    background-image: url('/Statics/images/key.png');
    content: "";
}

/*-------------------------------------------------------------*/
#exam_entrance {
    left: 14.5rem;
    top: 6rem;
    width: 24rem;
    height: 5.7rem;
    position: absolute;
    text-align: inherit;
    /* border: 1px dashed; */
    color: #418cce;
}

#exam_icon {
    position: absolute;
    top: 0.3rem;
    left: 0rem;
    background-size: 100% 100%;
    width: 5rem;
    height: 5rem;     
}
#exam_icon_Sword {
    position: absolute;
    top: 0.3rem;
    background-size: 100% 100%;
    width: 2rem;
    height: 5rem;
    transition-property: all;
    transition-duration: 0.6s; 
}
.sword_hasExam { right: -8rem; }
.sword_extend { right: 0rem; }
.sword_shirk { right: 17rem; }

#exam_inner {
    padding-left: 3rem;
    position: absolute;
    top: 1rem;
    left: 2rem;
    height: 3.5rem;

    border-style: none;
    border-width: 0.3rem;
    border-radius: 1rem;
    border-color: goldenrod;    
    background-image: linear-gradient(gold, rgb(255, 245, 185) 21%, white 25%, white 75%, rgb(255, 245, 185) 79%, gold 100%);
 /* border: 3px dashed; */        
    transition-property: all;
    transition-duration: 0.6s;   
    overflow: hidden;
}
.hasExam { width: 26.5rem; }
.shirked { width: 1.5rem; }
.extended { width: 18.5rem; }

#exam_inner h3 {
    display: inline-block;
    font-size: 130%;
    width: 3em;
    color: red;
}
#exam_inner p {
    position: relative;
    text-align: center;
    display: inline-block;
    top: -0.2em;
}
#exam_closed {
    color: gray;
}
#exam_open {
    color: #418cce;
}

#exam_starttime {
    font-size: 80%;
    color: red;
}
#btn_enter_exam {
    font-size: 120%;     
}
/*-------------------------------------------------------------*/
#hanging_panel_right, #hanging_panel_left {
    position: fixed;
    top: 4rem;  
}   

#hanging_panel_right { 
    right: 0.5rem;  
}

#hanging_panel_left {
    left: 0.2rem;
}

#notice_panel {
    width: 13rem;
    background-color: #eb6a91;
    border-style: solid;
    border-width: 0.075rem 0.125rem 0.125rem 0.075rem;
    border-color: #e7aabd;
    /* border-right-color: #207aa3;
    border-bottom-color: #207aa3; */
    border-radius: 1rem;
    box-shadow: 0.125rem 0.25rem 0.25rem #853b51;
    text-align: center;
}

#tree_img{
    top: -1.8rem;
    left: -0.4rem;
    position: absolute;
}

#bill_icon {
    width: 5rem;
    height: 5rem;
    top: -2rem;
    left: -0.6rem;
    position: absolute;
}

#notice_panel #inner_panel {
    z-index: 2;
    min-height: 14rem;
    margin: 0.6rem 0.5rem 0.4rem 0.5rem; 
    padding: 0.125rem 0.125rem 0.125rem 0.125rem;
    background-color: rgba(255, 255, 255, 0.95);
    border-style: solid;
    border-radius: 0.75rem;
    border-top-color: #ebced7;
    border-bottom-color: #aa4d69;
    border-width: 2.8rem 0rem 0.25rem 0rem;
    box-shadow: 0.25rem 0.125rem 0.1rem #aa4d69;
}

#notice_panel #inner_panel h3 {    
    color: rgb(236, 81, 107);    
    font-size: 1.6rem;
    font-weight: 900;
    position: absolute;
    top: -0.4rem;
    width: 92%;
    text-align: center;
    text-indent: 0em;
    text-shadow: 0.125rem 0.125rem 0.6rem rgb(88, 24, 35);
}

#notice_show {
    padding: 0.1rem 0.8rem 0.5rem 0.8rem;
    font-size: 1rem;
    color: #418cce;
    position: relative;
    top: 0.4rem;
    line-height: 1.3em;
    text-align: left;
    text-indent: 0em;
    text-shadow: 0rem 0rem 0.05rem #11314d;
}


#billboard_panel {    
    width: 11rem;
    text-align: left;
    min-height: 16.4rem;
    background-color: gold;
    border-style: solid;
    border-width: 0.075rem 0.125rem 0.125rem 0.075rem;
    border-color: goldenrod;
    /* border-right-color: #207aa3;
    border-bottom-color: #207aa3; */
    border-radius: 1rem;
    box-shadow: 0.125rem 0.25rem 0.25rem rgb(167, 125, 21);
}

#billboard_content {
    top: 1rem;
    line-height: 1.4em;
    z-index: 2;
    min-height: 12rem;
    margin: 0.6rem 0.5rem 0.4rem 0.5rem; 
    padding: 0.125rem 0.125rem 0rem 0.125rem;
    background-color: rgba(255, 255, 255, 0.95);
    border-style: solid;
    border-radius: 0.75rem;
    border-top-color: rgb(247, 237, 184);
    border-bottom-color: goldenrod;
    border-width: 2.8rem 0rem 0.25rem 0rem;
    box-shadow: 0.25rem 0.125rem 0.1rem rgb(167, 125, 21);    
}
#billboard_content h3 {
    color: rgb(236, 81, 107);
    font-size: 1.6rem;
    font-weight: 900;
    position: absolute;
    top: -0.4rem;
    width: 92%;
    text-align: center;
    text-indent: 0em;
    text-shadow: 0.125rem 0.125rem 0.6rem rgb(192, 60, 82);
}

#billboard_list {
    color: gray;
    position: relative;
    padding: 0rem 0rem -1rem 0rem;
    margin:  0rem 0rem 0rem 0rem;
}

#billboard_list li {
    top: -0.4rem;
    position: relative;
    left: -0.2rem;
    width: 96%;
    list-style-type:none;    
    /* border: 1px dotted; */
}
#billboard_list li:nth-child(1), #billboard_list li:nth-child(2), #billboard_list li:nth-child(3) {
    font-size: 1.3rem;
    line-height: 1.3em;
}
#billboard_list li:nth-child(1) {
    color: gold;
}
#billboard_list li:nth-child(2) {
    color: silver;
}
#billboard_list li:nth-child(3) {
    color: #e86696;
}

#billboard_list li:nth-child(1)::before,
#billboard_list li:nth-child(2)::before,
#billboard_list li:nth-child(3)::before {
    content: "";
    position: absolute;
    background-size: 100% 100%;
    height: 1.35em;
    width: 1.2em;
    top: 0em;
    left: -1.3em;
}
#billboard_list li:nth-child(1)::before {
    background-image: url('/Statics/images/gold/rankA.png');
}
#billboard_list li:nth-child(2)::before {
    background-image: url('/Statics/images/gold/rankB.png');
}
#billboard_list li:nth-child(3)::before {
    background-image: url('/Statics/images/gold/rankC.png');
}

#panel-bg {
    width: 100%;
    height: 290px;
    background-color: #78c5e1;
    border-style: solid;
    border-width: 2px;
    border-color: #56aad1;
    /* border-right-color: #207aa3;
    border-bottom-color: #207aa3; */
    border-radius: 18px;
    box-shadow: 3px 3px 3px rgb(51,115,145);
}


#exit_panel {
    position: fixed;
    top: 0rem;
    left: 0rem;
    color: white;
    font-size: 50%;
}

#exit_panel a {
    position: relative;
    display: inline-block; 
    color: white;   
    bottom: 1.5em;
    text-decoration: none;
}
#exit_panel img {
    display: inline-block; 
    position: relative;
    width: 2rem;
    height: 2rem;
    top: 1.5em;
}