@import url(./font_inc.css);
@import url(./common_lib.css);

html {
    font-size: 18px;
    font-family: HK_Yuan7;
}

body {
    background-image: url('/Statics/images/BGs/stu_main_BG.jpg');
    background-blend-mode: normal;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
    background-origin: inherit;
    /*background-clip:border-box*/
}

#root_panel {
    z-index: -2;
    position: absolute;
    left: 0rem;
    top: 0rem;
    width: 100%;
    height: 45rem;
    margin: auto;
    /* border: 3px solid;
    border-radius: 1rem;
    background-color: rgba(238, 129, 78, 0.63); */
}


#bottom_panel {
    position: absolute;
    background-color: rgba(204, 236, 255, 0.8);
    border-style: solid none solid none;
    border-width: 0.125rem;
    height: 0.6rem;
    left: 0rem;
    top: 48rem;
    width: 100%;
    border-color: white;
}
/*-------------------------------------------------------------*/
#stud_prof {
    position: absolute;
    padding-top: 0.3rem;
    left: 0rem;
    top: 0.2rem;
    width: 100%;
    height: 3.9rem;    
    /* text-align: center; */

    background-color: rgba(204, 236, 255, 0.8);
    border-style: solid none solid none;
    border-width: 0.125rem;

    border-color: white;
    /* border-image-source: url('/Statics/images/stu_frame.png');
    border-image-slice: 40% 40% 40% 40%;
    border-image-width: 4rem 4rem;
    border-image-outset: 0rem 0.1rem 1.55rem 0rem;
    border-image-repeat: fill; */
}

#prof_inner {    
    vertical-align: middle;
    position: relative;
    left: 0rem;
    top: 0.2rem;
    padding-top: 0%;
    /* border: 3px dashed; */
}

#prof_bg {
    z-index: 0;
    margin-top: 0.8rem;
    position: absolute;
    float: left;
    width: 100%;
    height: 1.6rem; 
    background-color: #fac785;    
}

#user_info label {
    position: relative; 
    top: -2.2rem;
    font-size: 20px;
    color: azure;
    text-shadow:1px 0px 2px rgb(51,115,145),
                -1px 0px 2px rgb(51,115,145),
                0px -1px 2px rgb(51,115,145),
                0px 1px 2px rgb(51,115,145),
                1px 1px 2px rgb(51,115,145),
                1px -1px 2px rgb(51,115,145),
                -1px -1px 2px rgb(51,115,145),
                -1px 1px 2px rgb(51,115,145); 
    margin-right: 0.5em;                  
}

#user_info, #user_add {
    display: inline-block;
    position: absolute;
    top: 0.3rem;
    height: 2rem;
    padding-left: 0.2rem;
    padding-right: 0.4rem;

    border-style: solid;
    border-width: 0.3rem;
    border-radius: 0.4rem;
    border-color: #abcbd4;    
    background-color: #ffffff; 
 /* border: 3px dashed; */        
}

#user_info {
    left: 0.8rem;
}

#id_user {}
#id_student_number {}
#id_class_id {}

#user_add {
    left: 21rem;
    height: 2rem;
    border-color: goldenrod;
    background-color: rgb(221, 221, 221);
}

#user_add label {
    position: relative; 
    font-size: 22px;
    color: azure;
    text-shadow:1px 0px 2px gold,
                -1px 0px 2px gold,
                0px -1px 2px gold,
                0px 1px 2px gold,
                1px 1px 2px gold,
                1px -1px 2px gold,
                -1px -1px 2px gold,
                -1px 1px 2px gold;
    top: -1.6rem;
    margin-right: 0.5em;
}


#icon_user, #icon_gold {
    position: relative;
    display: inline-block;
    top: -0.8rem;
    left: 0rem;
    align-content: center;     
}

#icon_user {
    background-size: 100% 100%;
    background-image: url('/Statics/images/info-icon.png');
    width: 3rem;
    height: 3rem;
    border-style: solid;
    border-width: 0.3rem;
    border-radius: 0.5rem;  
    border-color: #8d999b;    
    background-color: #d1dfe3;   
}

#icon_gold {
    top: -0.5rem;
    width: 3rem;
    height: 3rem;
    background-size: 100% 100%;
}

.num-0 { 
    background-image: url('/Statics/images/gold/num-0.png'); 
}
.num-1 { 
    background-image: url('/Statics/images/gold/num-1.png'); 
}
.num-2 { 
    background-image: url('/Statics/images/gold/num-2.png'); 
}
.num-3 { 
    background-image: url('/Statics/images/gold/num-3.png'); 
}
.num-4 { 
    background-image: url('/Statics/images/gold/num-4.png'); 
}
.num-5 { 
    background-image: url('/Statics/images/gold/num-5.png'); 
}
.num-6 { 
    background-image: url('/Statics/images/gold/num-6.png'); 
}
.num-7 { 
    background-image: url('/Statics/images/gold/num-7.png'); 
}
.num-8 { 
    background-image: url('/Statics/images/gold/num-8.png'); 
}
.num-9 { 
    background-image: url('/Statics/images/gold/num-9.png'); 
}


/*-------------------------------------------------------------*/
#lesson_panel {
    position: absolute;
    left: 4rem;
    top: 8rem;
}

#girl_panel {
    left: 0rem;
    top: 8rem;
    width: 20rem;
    height: 40rem;  
    position: fixed;
    /* border: 1px dotted; */
    background-size: 100% 100%;
    background-image: url('/Statics/images/yoyo4.png');   
    alt: "cc";
}

#lesson_list_panel {
    text-align: center;
    align-content: center;    
    position: absolute;
    left: 12.6rem;
    top: 1rem;
    width: 8rem;
    height: 32rem;      
    /* border: 1px dotted;  */
}

.lesson-book-b, .lesson-book-u, .lesson-book { 
    width: 8rem;
    height: 10rem;
    background-repeat: no-repeat; 
}

.lesson-book-b {
    position: absolute;
    background-position: center 4%;
    background-size: 80% 70%;
    background-image: url('/Statics/images/book-edge-b.png');
}
.lesson-book-u {
    position: absolute;
    background-position: center 96%;
    background-size: 80% 70%;
    background-image: url('/Statics/images/book-edge-u.png');
}
.lesson-book {
    position: relative;
    align-content: center;
    background-position: center 50%;
    background-size: 80% 70%;
    background-image: url('/Statics/images/book-close-m.png');    
}

.btn-up {
    width: 3rem;
    height: 2rem;
    border: none;
    background-color: rgba(255, 255, 255, 0);    
    background-image: url('/Statics/images/arrow-up.png');
    background-repeat: no-repeat; 
    background-size: 100% 100%;
}

.btn-up:hover{
    background-image: url('/Statics/images/arrow-up-over.png');
}

#lesson_ctrl span {
    display: inline-block;
    position: relative;
    top: 0rem;
    left: 0rem;
    width: 8rem;
    height: 10rem;
}

#move_prev {
    position: relative;
    top: 0%;
}

#move_next {
    position: relative;
    bottom: 0%;
    transform: rotate(180deg);
}

#lesson_ctrl {
    position: relative;
    top: 0rem;
    width: 8rem;
    height: 30.2rem; 
    /* border: 1px dashed;  */
    overflow: hidden;   
}

#lesson_ctrl li{
    list-style-type: none;
}

#lesson_inner {
    position: absolute;
    top: -10rem;
}

.anim-move {    
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

.lesson_label {
    position: absolute;    
    text-align: center;
    font-size: 60%;
    top: 6em;
    left: 3.8em;
    width: 5em;
    height: 4em;
    line-height: 120%;
    color: #fffcce; 
}


/* --------------------- 课程 --------------------- */
#cur_lesson_panel {
    position: absolute;
    left: 24rem;
    top: 0rem;
    width: 35rem;
    height: 32rem;
}

#chapter_title {
    font-size: 1.8rem;
    font-weight: bolder;
    text-shadow: 0.15rem 0.15rem 0.25rem #144e69;
    color: rgb(55, 142, 182);    
}

.icon_book {
    position: absolute;
    left: 0rem;
    top: 0rem;
    width: 35rem;
    height: 32rem;       
    background-size: 100% 100%;
    background-image: url('/Statics/images/book-open.png');
}

#btn_lesson {
    position: absolute;
    left: 1rem;
    top: 5rem;
    width: 15rem;
    height: 17rem;  
    background-image: url('/Statics/images/book-learn.png');
    background-repeat: no-repeat;
    background-size: contain;         
}

#btn_practise {
    position: absolute;
    top: 20rem;
    left: 18rem;    
    width: 15rem;
    height: 17rem;  
    background-image: url('/Statics/images/book-prac.png');
    background-repeat: no-repeat;
    background-size: contain; 
}

.icon_locker {
    position: absolute;
    top: 0.6rem;
    left: 1rem;    
    width: 14rem;
    height: 14rem;  
    z-index: 3;
    background-size: 100% 100%;
    background-image: url('/Statics/images/locker.png');
    transition-property: opacity;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
}

.bg_lesson, .bg_prac {
    position: absolute;
    top: 0.6rem;
    left: 1rem;    
    width: 14rem;
    height: 14rem;
    border-style: none;
    border-radius: 50%;
    opacity: 1;
    background-position: 70% 70%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    animation: anim-blin 2s infinite linear;
    content: "";
}
.bg_lesson {
    background-image: radial-gradient( rgba(183, 167, 255, 0.9) 40%, rgba(187, 168, 255, 0.01) 70%);
}
.bg_prac {
    background-image: radial-gradient( rgba(240, 167, 255, 0.9) 35%, rgba(248, 168, 255, 0.01) 70%);
}
@keyframes anim-blin {
    50% {
        background-size: 70% 70%;
    }
}
.fade-out {
    opacity: 0;
}

#lesson_info {
    position: absolute;
    left: 4rem;
    top: 3rem;
    width: 11rem;
    height: 8rem;  
    font-size: 1.3rem;
    font-weight: 900;
    line-height: 1.2em;
    color: rgb(168, 76, 156);
    text-shadow: 0rem 0rem 0.4rem rgba(191, 192, 231, 0.925);  
    background: linear-gradient(to right, rgba(255, 151, 241, 0), rgba(255, 151, 241, 0.1) 60%, rgba(255, 138, 239, 0.4));
    border-radius: 2rem;
    padding: 1rem;
    padding-left: 12rem;
}

#lesson_info span {
    opacity: 0.6;
    z-index: -1;
    position: absolute;
    left: 14rem;
    top: 2rem;
    width: 6rem;
    height: 6rem;      
    background-size: 100% 100%;
    background-image: url('/Statics/images/key.png');
    content: "";
}

#practise_info {
    position: absolute;
    left: -12rem;
    top: 3rem;
    width: 12rem;
    height: 5.4rem; 
    font-size: 1.3rem;
    font-weight: 900;
    line-height: 1.2em;
    color: #da5fc9;
    text-shadow: 0rem 0rem 0.4rem rgba(162, 164, 255, 0.952); 
    background: linear-gradient(to left, rgba(255, 151, 241, 0), rgba(255, 151, 241, 0.1) 40%, rgba(255, 138, 239, 0.4));
    border-radius: 2rem;
    padding: 1rem;
    padding-top: 3rem;
}

#practise_info span {
    opacity: 0.8;
    z-index: -1;
    position: absolute;
    left: 3rem;
    top: 2rem;
    width: 6rem;
    height: 6rem;      
    background-size: 100% 100%;
    background-image: url('/Statics/images/key.png');
    content: "";
}

/*-------------------------------------------------------------*/
#exam_entrance {
    left: 13.9375rem;
    top: 0rem;
    width: 13.9375rem;
    height: 8rem;
    position: absolute;
    text-align: inherit;
    border: 1px dashed;
}

/*-------------------------------------------------------------*/
#hanging_panel {    
    left: 64rem;
    top: 6rem;
    position: absolute;
}

#notice_panel {
    width: 18rem;
    background-color: rgb(112, 188, 219);
    border-style: solid;
    border-width: 0.075rem 0.125rem 0.125rem 0.075rem;
    border-color: #e6f0f3;
    /* border-right-color: #207aa3;
    border-bottom-color: #207aa3; */
    border-radius: 1rem;
    box-shadow: 0.125rem 0.25rem 0.25rem #207aa3;
    text-align: center;
}

#tree_img {
    z-index: 0;
    top: 8.5rem;
    right: 0.2rem;
    position: absolute;
    opacity: 0.9;
}

#notice_panel #inner_panel {
    z-index: 2;
    height: 10rem;
    margin: 0.8rem 0.75rem 0.5rem 0.5rem; 
    padding: 0.125rem 0.125rem 0.125rem 0.125rem;
    background-color: rgba(255, 255, 255, 0.95);
    border-style: solid;
    border-radius: 0.75rem;
    border-top-color: #d1dfe3;
    border-bottom-color: #8793bf;
    border-width: 2rem 0rem 0.25rem 0rem;
    box-shadow: 0.25rem 0.125rem 0.1rem #8793bf;
}

#notice_panel #inner_panel h3 {
    color: #6898c2;
    font-size: 1.4rem;
    font-weight: 900;
    position: absolute;
    top: -0.3rem;
    width: 92%;
    text-align: center;
    text-indent: 0em;
    text-shadow: 0.125rem 0.125rem 0.5rem #32515c;
}

#notice_show {
    padding: 0.1rem 0.8rem 0.5rem 0.8rem;
    font-size: 1.1rem;
    color: #dd6755;
    position: relative;
    top: 0.4rem;
    line-height: 1.3em;
    text-align: left;
    text-indent: 2em;
    text-shadow: 0rem 0rem 0.05rem #64281f;
}


#billboard_panel {
    text-align: left;
    height: 16.4rem;
    background-image: url('/Statics/images/BGs/billboard-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#billboard_content {
    position: relative;
    top: 4rem;
    line-height: 1.4em;
}

#billboard_content li {
    position: relative;
    left: -0.8rem;
    width: 96%;
    list-style-type:none;
    border: 1px dotted;
}


#panel-bg {
    width: 100%;
    height: 290px;
    background-color: #78c5e1;
    border-style: solid;
    border-width: 2px;
    border-color: #56aad1;
    /* border-right-color: #207aa3;
    border-bottom-color: #207aa3; */
    border-radius: 18px;
    box-shadow: 3px 3px 3px rgb(51,115,145);
}
