{% extends "base_bs_style.html" %}
{% load static %} 
{% block title %}Answer Sheet{% endblock %} 
{% block jsPage %}
<script type="text/javascript" src="{% static 'js/course/answer-sheet.js' %}"></script> 
{% endblock %} 
{% block content %}
<form method="post" action="." id="qlist_form">
{% csrf_token %}
</form>
<div class="row">
    <div class="col-3">
        <div class="card">
            <div class="card-header">
                Course Struct
            </div>
            <img class="card-img-bottom float-xl-right" src="{% static 'images/teacher.png' %}" alt="Card image cap">
        </div>
    </div>
    <div class="col-9">
        <div class="card">
            <h3 class="card-header" id="section_title">{{section_name}}</h3>
            <div class="card-body">
                <h4 class="card-title">
                    <span class="badge badge-info" id="question_index">1</span><span class="align-text-top" id="question_count">/10</span>
                    <label id="question_type">Choice</label>
                </h4>
                <p id="q_description">
                    this is choice 
                </p>
            </div>
        </div>
        <br/>
        <div class="card">
            <div class="card-body" id="q_type_sheet">
                hahahaha
            </div>
            <div class="card-footer">
                foot
            </div>
        </div>
    </div>
</div> 
{% endblock %}