{% extends "base_bs_style.html" %}
{% load static %} 
{% block title %}Answer Sheet{% endblock %} 
{% block jsPage %}
<script type="text/javascript" src="{% static 'js/course/answer-sheet.js' %}"></script> 
{% endblock %} 
{% block content %}
<form method="post" action="." id="qlist_form">
{% csrf_token %}
</form>
<div class="row m-5">
    <div class="col-3">
        <div class="card" id="statistic_frame">
            <div class="card-header" id="statistic_main">
                <h5>
                答对<span class="badge badge-pill badge-success" id="stat_right">0</span>  
                答错<span class="badge badge-pill badge-danger" id="stat_wrong">0</span>
                </h5>
                <!-- <button id="btn_back" class="btn btn-warning btn-lg align-right">结束答题</button> -->
                <a href="{% url 'user:student' %}" id="btn_back" class="btn btn-warning btn-lg align-right">结束答题</a>
            </div>
            <img class="card-img-bottom float-xl-right" src="{% static 'images/teacher.png' %}" alt="Card image cap">
        </div>
    </div>
    <div class="col-9">
        <div class="card" id="quesion_desc_main">
            <h3 class="card-header" id="section_title">{{section_name}}</h3>
            <div class="card-body">
                <h4 class="card-title">
                    <span class="badge badge-info" id="question_index">0</span><span class="align-text-top" id="question_count">/0</span>
                    <label id="question_type"></label>
                </h4>
                <p id="q_description">                    
                </p>
            </div>
        </div>
        <br/>
        <div class="card">
            <div class="card-body" id="q_type_sheet">                
            </div>
            <div class="card-footer text-right">
                <p id="q_type_tips" class="align-content-center">foot
                    <button id="btn_submit" class="btn btn-success btn-lg align-bottom">提交</button>
                    <button id="btn_next" class="btn btn-outline-primary btn-sm align-bottom">Next</button>
                    <button id="btn_Prev" class="btn btn-outline-primary btn-sm align-bottom">Preview</button>
                </p>
            </div>
        </div>
    </div>
</div> 
{% endblock %}