{% extends "base_bs_style.html" %} 
{% load static %} 
{% block title %}Class Setting{% endblock %} 
{% block jsPage %}
<script type="text/javascript" src="{% static 'js/libs/schedule.js' %}"></script>
<script type="text/javascript" src="{% static 'js/course/class_setting.js' %}"></script> 
{% endblock %} 

{% block content %} 
{% csrf_token %}
<h2 class="text-center font-weight-bold p-1 text-warning text_outline ">班级设置</h2>
<div class="row border border-dark mx-3 p-2 rounded bg_gray_d2u">
    <div class="col-2 p-2">
        <div class="card bg-info">                
            <div class="card bg-secondary text-white">
                <div class="card-header text-center">
                    <h5 class="card-title">班级列表</h5>
                </div>
                {% for cls in class_list %}
                <button class="list-group-item list-group-item-action list-group-item-secondary inline-block text-truncate" id="class_{{cls.id}}" 
                    onclick = "onClassSelect(event)" onfocus="this.blur()"
                    tabindex = "-1"
                    data-url= "{% url 'course:class_prac' class_id=9999 %}"
                    data-cls-id="{{cls.id}}" data-toggle="tooltip" data-placement="right" 
                    title="{{cls.class_name}}" >{{cls.class_name}}
                </button>
                {% endfor %}                    
            </div>                
        </div>
    </div>
    <div class="col-2 py-2 border-info border-right border-left">
        <div class="card bg-info border-0" id="id_mode_setting" style="display:none">
            <div class="card-header card-header-sm">
                <h5 class="card-title">试炼模式设置</h5>                    
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="pracmode" id="prac_mode_0" value="normal">
                    <label class="form-check-label  text-warning" for="prac_mode_0">普通模式</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="pracmode" id="prac_mode_1" value="lock">
                    <label class="form-check-label  text-warning" for="prac_mode_1">通关模式</label>
                </div>
                <div id="id_unlock_div" class="input-group w-100">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-dark text-light text-sm-center border-secondary">解锁题数</span>
                    </div>
                    <input type="number" min="0" max="20" value="3" step="1" class="form-control" id="id_unlock">
                </div>
                <p class="small text-danger">“普通模式”无需解锁，试炼直接开放。“通关模式”需要先进行资料学习。</p>
                <button id="btn_chpt_setting" class="btn btn-warning" 
                    onfocus="this.blur()"
                    tabindex = "-1">课程章节设置</button>
            </div>
            <div class="card-header card-header-sm">
                <h5 class="card-title">当前试炼题目数量设置</h5>
            </div>
            {% for qType in qTypeList %}
            <div class="input-group w-100 px-1">
                <div class="input-group-prepend" style='width: 60%;'>
                    {% url 'course:question-editor-type' qType as qTypeURL %} {% url 'course:question-list' qType as qListURL %}
                    <button class="btn-dark text-light border-secondary w-100"
                        onfocus="this.blur()"
                        tabindex = "-1" 
                        data-qlist-url="{{qListURL}}" 
                        data-qtype="{{qType}}"
                        id="QType_{{qType}}">{{qType}}</button>
                </div>
                <input style='width: 40%;' type="number" min="0" max="20" value="1" step="1" class="form-control" required aria-describedby="QType_{{qType}}" id="Q_NUM_{{qType}}" onchange="onPerNumChange(event, '{{qType}}')">
            </div>
            {% endfor %}
            <div class="card-footer text-center">
                <button class="btn btn-warning" type="button" id="btn_confirm" onclick="onConfirmSetting(event)">确认修改</button>
            </div>
        </div>
    </div>
    <div class="col-8 p-0 m-0" id="question_panel" style="display:none">
        <h3 class="text-center font-weight-bold text-warning text-danger">题目筛选</h3>
        <div class="row mx-0 p-0" id="q_setting" style="display:none">
            <div class="col-3 m-0 p-0">
                <div class="card bg-light">                
                    <div class="card bg-secondary text-white">
                        <div class="card-header text-center">
                            <h5 class="card-title">课程章节列表</h5>
                        </div>
                        <!-- <div class="card-body"> -->
                        {{course_html}}                  
                        <!-- </div> -->
                    </div>                
                </div>
            </div>
            <div class="col-9 m-0 p-0">
                <!-- <div class="row-fluid"> -->
                <div class="card bg-warning">
                    <div class="card-header card-header-sm">
                        <h5 class="card-title">题目列表
                            <span class="badge badge-dark" id="qlist_num">0</span>
                            <span class="float-right">
                                <button type="button" class="d-inline btn btn-sm btn-danger" onclick="onConfirmSetting(event)">确定修改</button>
                                <button type="button" class="d-inline btn btn-sm btn-secondary" data-toggle="collapse" data-target="#content_filer" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">搜索</button>
                            </span>
                        </h5>
                        <div class="collapse align-content-end" id="content_filer">                        
                            <input class="form-control form-control-sm mr-sm-1 form-inline" type="search" placeholder="搜索" aria-label="搜索" id="filter_input" onchange="onFilterInput(event)">
                        </div>
                    </div>
                    <ul class="list-group" id="Question_List">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8 p-0 m-0" id="chapter_panel" style="display:none">
        <div class="list-group" id="order_panel"></div>
        <div>
            <button type="button" class="d-inline btn btn-sm btn-danger" onclick="onConfirmSetting(event)">确定修改</button>
        </div>
    </div>
</div>


{% endblock %}
{% block header %} 
{{ course.description }}
{% include "user/teacher_header.html" %} 
{% endblock %}

{% block pageInclude %}
    <link rel="stylesheet" href="{% static 'css/edu/teacher/teacher.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/edu/teacher/class_setting.css' %}"/>    
{% endblock %} 