{% extends "base_bs_style.html" %} 
{% load static %} 
{% block title %}Class Setting{% endblock %} 
{% block jsPage %}
<script type="text/javascript" src="{% static 'js/libs/schedule.js' %}"></script>
<script type="text/javascript" src="{% static 'js/notice/class_setting.js' %}"></script> 
{% endblock %} 

{% block content %} 
{% csrf_token %}
<h2 class="text-center font-weight-bold p-1 text-warning text_outline ">班级设置</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="card bg-info">                
                <div class="card bg-dark text-white">
                    <div class="card-header text-center">
                        <h5 class="card-title">班级列表</h5>
                    </div>
                    
                    {% for cls in class_list %}
                    <button class="list-group-item list-group-item-action list-group-item-secondary inline-block text-truncate" id="class_{{cls.id}}" 
                        onclick="onClassSelect(event)" onfocus="this.blur()"
                        tabindex="-1"
                        data-cls-id="{{cls.id}}" data-toggle="tooltip" data-placement="right" 
                        title="{{cls.class_name}}" >{{cls.class_name}}
                    </button>
                    {% endfor %}                
                    
                </div>                
            </div>
        </div>
        <div class="col-8">
            <div id="stud_prof">

            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>


{% endblock %}
{% block header %} 
{{ course.description }}
{% include "user/teacher_header.html" %} 
{% endblock %}

{% block pageInclude %}
    <link rel="stylesheet" href="{% static 'css/edu/teacher/teacher.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/edu/teacher/class_setting.css' %}"/>    
{% endblock %} 