{% extends "base.html" %}
{% load static %} 
{% block title %}考试{% endblock %} 
{% block jsPage %}
<script type="text/javascript" src="{% static 'js/course/answer-comp.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/course/exam-sheet.js' %}"></script> 
{% endblock %} 
{% block content %}
<form method="post" action="." id="exam_form" data-typelisturl="{% url 'course:question-list-ids' %}" hidden>
    {% csrf_token %}
    {{form.as_p}}
    <input type="hidden" name="server_time" value="{{serv_time}}" id="id_server_time">
</form>
<div id="root_panel"> 
    <div id="sheet_panel" >
        <ul id="type_navbar">
            {% for qType in qTypeList %}
                <li><button type="radio" name="btn_type" class="qtype" 
                    id="nav_{{qType}}"
                    data-qtype="{{qType}}" onfocus="this.blur()" tabindex="-1" ></button></li>
            {% endfor %} 
        </ul>        
        <div id="sheet_bg_out">             
            <div id="sheet_bg_in">            
                <div id="quesion_desc_main">
                    <div id="section_title"></div>
                    <div id="desc_panel">
                        <div id="question_type"></div>                        
                        <p id="q_description">               
                        </p>
                    </div>
                </div>
                <div id="answer_panel">
                    <div id="q_type_sheet">
                    </div>                    
                    <p id="q_type_tips"></p>
   
                    <div id="stat_panel">
                        <button hidden id="btn_submit" class="btn-round-sky" onfocus="this.blur()" tabindex="-1" >提 交</button>                    
                        <p id="current_panel">
                            第 <label id="current_index"></label> 题
                        </p>
                    </div>
                    
                    <div id="prev_panel">
                        <label id="prev_tips">上一题</label>
                        <img id="btn_Prev" src="{% static 'images/corner.png' %}" draggable="false"/>
                    </div>
                    <div id="next_panel">
                        <label id="next_index"></label>
                        <label id="next_tips">下一题</label>
                        <img id="btn_next" src="{% static 'images/corner.png' %}" draggable="false"/>
                    </div>
                    <div id="last_panel">已是最后一题</div>
                </div>                
            </div>
        </div>
    </div>
    <div id="info_panel">
        <div id="model_bg" hidden>
            <div id="show_panel" hidden>
                <p>确认要交卷吗？交卷以后不能修改噢！</p>
                <button id="btn_ok" class="btn-round-wine"  onclick="onConfirmClick(event)" onfocus="this.blur()" tabindex="-1">交卷</button>
                <button id="btn_cancel" class="btn-round-sky" onclick="onCancelClick(event)" onfocus="this.blur()" tabindex="-1">再看看</button>
            </div>
        </div>
        <div id="time_panel">
            <span id="clock_icon"></span> <span id="clock_time">12:32:12</span>
            <br/>
            <button id="btn_submit" class="btn-circle-orange" onclick="onSubmitClick(event)" onfocus="this.blur()" tabindex="-1">完成交卷</button>
            <!-- <a href="{% url 'user:student' %}" id="btn_back" class="btn-circle-orange"><span class="arrow-left"></span> 结束答题</a> -->
        </div>
        <div id="teacher" alt="Card image cap"></div>
    </div>    
</div>

{% endblock %}

{% block jsFunctionLib %}
    <link rel="stylesheet" href="{% static 'css/edu/student/common_lib.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/edu/student/exam_sheet.css' %}"/>
        
    <script type="text/javascript" src="{% static 'js/libs/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tools.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/translate.js' %}"></script>
{% endblock %}