{% extends "base.html" %}
{% load static %} 
{% block title %}考试{% endblock %} 
{% block jsPage %}
<script type="text/javascript" src="{% static 'js/course/answer-comp.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/course/exam-check.js' %}"></script> 
{% endblock %} 
{% block content %}
<form method="post" action="." id="exam_form" 
    data-typelisturl="{% url 'course:question-list-ids' %}"
    data-voice-answer-url="{% url 'course:exam_voice_answer' student_id=user_id exam_id=exam_id %}" hidden>
    {% csrf_token %}
    {{exam_form.as_p}}
    {{exam_answer_form.as_p}}
</form>
<div id="root_panel"> 
    {% include "course/exam_sheet.html" %}
</div>

{% endblock %}

{% block jsFunctionLib %}
    <link rel="stylesheet" href="{% static 'css/edu/student/common_lib.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/edu/student/exam_sheet.css' %}"/>
        
    <script type="text/javascript" src="{% static 'js/libs/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/recorder.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tools.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/translate.js' %}"></script>
{% endblock %}