{% extends "base_bs_style.html" %}
{% load static %} 
{% block title %}考试管理{% endblock %} 

{% block header %}
{% include "user/teacher_header.html" %}
{% endblock %}

{% block content %}
{% csrf_token %}
<div class="container-fluid p-0 ">
    <div class="row m-0 p-1 bg-secondary">    
        <div class="row input-group px-2 m-0 mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="exma-name-label">试卷名称</span>
            </div>
            <input type="text" class="form-control" placeholder="请输入试卷名称" aria-label="试卷名称" aria-describedby="exma-name-label" id="exam-name">            
            <div class="input-group-append">
                <button class="btn btn-success" type="button" onclick="onSubmitCheck()" id="btn_modify">完成组卷</button>
            </div>
        </div>
        <div class="col-3 form-group px-2 m-0 mb-3">
            <div class=" input-group m-0 p-0">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="exam-total-score-label">试卷总分</span>
                </div>
                <input type="text" class="form-control" id="exam-total-score" aria-describedby="exam-total-score-label" readonly>
            </div>
            <div class=" input-group m-0 p-0">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="exam-total-score-label">考试时长</span>
                </div>
                <input type="text" class="form-control" id="exam-total-score" aria-describedby="exam-total-score-label" readonly>
            </div>
        </div>
        <div class="col-3 form-group px-2 m-0 mb-3">
                <div class=" input-group m-0 p-0">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="exam-total-score-label">考试日期</span>
                    </div>
                    <input type="date" class="form-control" id="exam-total-score" aria-describedby="exam-total-score-label" >
                </div>
                <div class=" input-group m-0 p-0">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="exam-total-score-label">开始时间</span>
                    </div>
                    <input type="time" class="form-control" id="exam-total-score" aria-describedby="exam-total-score-label">
                </div>
            </div>
            <div class="col-3 form-group px-2 m-0 mb-3">
                    <div class=" input-group m-0 p-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="exam-total-score-label">试卷总分</span>
                        </div>
                        <input type="text" class="form-control" id="exam-total-score" aria-describedby="exam-total-score-label" readonly>
                    </div>
                    <div class=" input-group m-0 p-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="exam-total-score-label">考试时长</span>
                        </div>
                        <input type="text" class="form-control" id="exam-total-score" aria-describedby="exam-total-score-label" readonly>
                    </div>
                </div>
    </div>
    <div class="row m-1">
        <div class="col-4 rounded">
            <div class="row justify-content-md-center">
                <div class="col-5 m-0 p-0">
                    <div class="card bg-info border-0">
                        <div class="card-header card-header-sm">
                            <h5 class="card-title">题型选择
                                <span class="badge badge-warning" id="qlist_num">0</span>                                    
                            </h5>
                        </div>
                        {% for qType in qTypeList %}
                        {% url 'course:question-editor-type' qType as qTypeURL %} {% url 'course:question-list' qType as qListURL %}
                        <button class="list-group-item list-group-item-action list-group-item-info text-truncate" 
                            id="NavBtn_{{ qType }}" 
                            onfocus="this.blur()"
                            tabindex="-1"
                            data-url="{{qTypeURL}}" data-qlist-url="{{qListURL}}" data-type-name="{{qType}}">
                            {{qType}}
                            <span class="badge badge-warning" id="qType_num_{{qType}}" data-type-name="{{qType}}">0</span>
                        </button>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-7 m-0 p-0" id="selected_course">
                    <div class="card bg-danger border-0">
                        <div class="card-header card-header-sm">
                            <h5 class="card-title">已选题目
                                <span class="badge badge-dark" id="sel_sum">0</span>                                    
                            </h5>
                        </div>
                        <ul class="list-group" id="selected_qlist">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 m-0 px-1">
            <div class="row-fluid">
                <div class="m-0 p-0 text-left" id="magic_panel">
                    <button class="btn" type="button" onclick="onToggleAdd(event)" id="btn_toggle" onfocus="this.blur()"
                    tabindex="-1">加入试卷</button>
                </div>
                <div class="row m-0 p-0">
                    <div class="input-group my-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="per-sco-label">每小题得分</span>
                        </div>
                        <input type="number" min="0.5" max="100" value="1" class="form-control" required aria-describedby="per-sco-label" id="per-score" onchange="onPerScoreChange(event)">
                        <input type="text" class="form-control text-right" placeholder="0" readonly id="total-score">
                        <div class="input-group-append">
                            <span class="input-group-text" id="total-sco-label">该类型总分</span>
                        </div>
                    </div>
                                      
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="row justify-content-md-center">
                <div class="col-7 m-0 p-0">
                    <div class="card bg-warning">
                        <div class="card-header card-header-sm">
                                <h5 class="card-title">未选题目
                                    <span class="badge badge-dark" id="unsel_sum">0</span>
                                    <span class="float-right">
                                        <button type="button" class="d-inline btn btn-sm btn-secondary" data-toggle="collapse" data-target="#content_filer" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">搜索</button>
                                    </span>
                                </h5>
                                <div class="collapse align-content-end" id="content_filer">                        
                                    <input class="form-control form-control-sm mr-sm-1 form-inline" type="search" placeholder="搜索" aria-label="搜索" id="filter_input" onchange="onFilterInput(event)">
                                </div>
                            </div>
                            <ul class="list-group" id="unSelected_qlist">
                            </ul>
                    </div>
                </div>
                <div class="col-5 m-0 p-0">
                    <!-- <div class="row-fluid"> -->
                    <div class="card bg-info">                
                        <div class="card bg-secondary text-white">
                                <div class="card-header text-center">
                                    <h5 class="card-title">课程章节列表</h5>
                                </div>
                                <!-- <div class="card-body"> -->
                                    {{course_html}}                  
                                <!-- </div> -->
                            </div>
                
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block jsPage %}        
    <script type="text/javascript" src="{% static 'js/course/exam-editor.js' %}"></script>     
    {% include "top_layer.html" %}
{% endblock %} 

{% block pageInclude %}

{% endblock %} 