{% extends "base.html" %}
{% load static %} 
{% block title %}考试{% endblock %} 
{% block jsPage %}
<script type="text/javascript" src="{% static 'js/course/answer-comp.js' %}"></script>
<script type="text/javascript" src="{% static 'js/course/key-comp.js' %}"></script>  
<script type="text/javascript" src="{% static 'js/course/exam-check.js' %}"></script> 
{% endblock %} 
{% block content %}
<form method="post" action="." id="exam_form" 
    data-typelisturl="{% url 'course:question-list-ids' %}"
    data-voice-answer-url="{% url 'course:exam_voice_answer' student_id=user_id exam_id=exam_id %}" hidden>
    {% csrf_token %}
    {{exam_form.as_p}}
    {{exam_answer_form.as_p}}
</form>
<div id="root_panel">
    <div id="statistic_panel">
        <div id="inner_panel">
            <div id="title">
                <label id="id_user">{{stud_info.user}}</label>
            </div>
            <div id="stat_part">
                <label id="id_student_number"> 学号：{{ stud_info.student_number }} </label><br>
                <label id="lb_final_score">最终得分：<span id="finanl_score"></span></label><br>
                <label id="lb_answer_score">自动评分：<span id="answer_score"></span> / 总分：<span id="total_sum"></span></label><br>
                <label id="lb_addition_score">人工评分：<span id="addition_score"></span></label><br><br>
                <label id="lb_cur_title">当前题型统计：</label><br>
                <label id="lb_cur_score">得 <span id="cur_score"></span> 分 / 总 <span id="cur_sum_sc"></span> 分</label><br>
                <label id="lb_cur_num">对 <span id="cur_num"></span> 题 / 总 <span id="cur_sum_nm"></span> 题</label>
            </div>
        </div>
    </div>
    {% include "course/exam_sheet.html" %}
    <div id="exit_panel">
        <a onclick="onBackClick(event)">
        <img src="{% static 'images\arrows_left.png' %}" />返回</a>
    </div>    
</div>

{% endblock %}

{% block jsFunctionLib %}
    <link rel="stylesheet" href="{% static 'css/edu/student/common_lib.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/edu/student/exam_check.css' %}"/>
        
    <script type="text/javascript" src="{% static 'js/libs/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/recorder.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tools.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/translate.js' %}"></script>
{% endblock %}