{% extends "base_bs_style.html" %}
{% load static %} 
{% block title %}考试管理{% endblock %} 

{% block header %}
{% include "user/teacher_header.html" %}
{% endblock %}

{% block content %}
{% csrf_token %}
<div class="container-fluid p-0 rounded" style="background: linear-gradient(#fafafadd,#727272dd)">
    <form action="." method="post" id="exam_editor" class="needs-validation" novalidate>
    <div class="row m-0 p-1 bg-secondary">
        {{ form.non_field_errors }} 
            {{ form.start_time }}
            {{ form.question_list }}
        <div class="row input-group px-2 m-0 mb-3">
            {{ form.title.errors }}
            <div class="input-group-prepend">
                <span class="input-group-text bg-dark text-light border-light" id="{{ form.title.id_for_label }}">试卷名称</span>
            </div>
            {{ form.title }}         
            <div class="input-group-append">
                <button class="btn btn-success rounded-right" type="button" id="btn_modify" onclick="onSubmitClick(event)">完成组卷</button>
            </div>
            <div class="invalid-feedback">
                请输入2个以上30个以内的文字！
            </div>           
        </div>

        <div class="col-4 form-group px-2 m-0 mb-2">
            <div class=" input-group m-0 p-0">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-dark text-light border-light" id="exam-total-score-label">试卷总分</span>
                </div>
                <input type="text" class="form-control rounded-right" id="exam-total-score" aria-describedby="exam-total-score-label" readonly>
                <div class="invalid-feedback">
                    试卷总分必须大于0！
                </div>  
            </div>
            <div class=" input-group m-0 p-0">
                {{ form.duration.errors }}
                <div class="input-group-prepend border-info">
                    <span class="input-group-text bg-dark text-light border-light" id="{{ form.duration.id_for_label }}">考试时长</span>
                </div>
                {{ form.duration }}
                <!-- <input type="text" class="form-control" id="exam-duration" aria-describedby="exam-duration-label"> -->
                <div class="input-group-append">
                    <span class="input-group-text bg-dark text-light rounded-right">分钟</span>
                </div>
                <div class="invalid-feedback">
                    考试必须时间大于0小于1440分钟！
                </div> 
            </div>
        </div>
        <div class="col-4 form-group px-2 m-0 mb-2">
            <div class=" input-group m-0 p-0">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-dark text-light border-light" id="exam-date-label">考试日期</span>
                </div>
                <input type="date" class="form-control rounded-right" id="exam-date" aria-describedby="exam-date-label" required>
                <div class="invalid-feedback">
                    请选择今天以后的日期！
                </div> 
            </div>
            <div class=" input-group m-0 p-0">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-dark text-light border-light" id="exam-time-label">开始时间</span>
                </div>
                <input type="time" class="form-control rounded-right" id="exam-time" aria-describedby="exam-time-label" required>
                <div class="invalid-feedback">
                    请填写考试开始时间！
                </div> 
            </div>
        </div>
        <div class="col-4 form-group px-2 m-0 mb-3 text-right">
        {{exam_list_html}}
        </div>
    </div>
    </form>
    <div class="row m-1">
        <div class="col-4 rounded">
            <div class="row justify-content-md-center">
                <div class="col-5 m-0 p-0">
                    <div class="card bg-info border-0">
                        <div class="card-header card-header-sm">
                            <h5 class="card-title">题型选择
                                <span class="badge badge-warning" id="qlist_num">0</span>                                    
                            </h5>
                        </div>
                        {% for qType in qTypeList %}
                        {% url 'course:question-editor-type' qType as qTypeURL %} 
                        {% url 'course:question-list' qType as qListURL %}
                        <button class="list-group-item list-group-item-action list-group-item-info text-truncate" 
                            id="NavBtn_{{ qType }}" 
                            onfocus="this.blur()"
                            tabindex="-1"
                            data-url="{{qTypeURL}}" data-qlist-url="{{qListURL}}" data-type-name="{{qType}}">
                            {{qType}}
                            <span class="badge badge-warning" id="qType_num_{{qType}}" data-type-name="{{qType}}">0</span>
                        </button>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-7 m-0 p-0" id="selected_course">
                    <div class="card bg-danger border-0">
                        <div class="card-header card-header-sm">
                            <h5 class="card-title">已选题目
                                <span class="badge badge-dark" id="sel_sum">0</span>                                    
                            </h5>
                        </div>
                        <ul class="list-group" id="selected_qlist">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 m-0 px-1  border-left border-right">
            <div class="row-fluid">
                <div class="btnTrack " style="margin-left: -4px;margin-right: -4px">
                    <div class="mx-2 p-0" id="magic_panel">
                        <button class="btn btn_left_right btn-warning" style="position: relative;left: 0px;" type="button" onclick="onToggleAdd(event)" id="btn_toggle" onfocus="this.blur()"
                        tabindex="-1"><span class="text-danger font-weight-bold oi oi-arrow-thick-left"></span> 加入试卷</button>
                    </div>
                </div>
                <div class="input-group-sm text-center w-100">
                    <div class="input-group-prepend justify-content-center w-100">
                        <span class="input-group-text bg-dark text-light border-secondary">每小题分数</span>
                        <span class="input-group-text bg-success text-light btn_left_right justify-content-center border-secondary" style="width: 0px;" id="per-num-lb"></span>
                        <span class="input-group-text bg-dark text-light border-secondary">该类型总分</span>
                    </div>
                </div>
                <div class="row m-0 p-0">
                    {% for qType in qTypeList %}
                    <div class="input-group my-1 w-100">
                        <div class="input-group-prepend" style="width: 108px">
                            <span class="input-group-text bg-secondary text-light border-secondary w-100" id="per-sco-lb-{{qType}}">{{qType}}</span>
                        </div>
                        <input type="number" min="0.5" max="100" value="1" step="0.5" class="form-control" required aria-describedby="per-sco-lb-{{qType}}" id="per-score-{{qType}}" onchange="onPerScoreChange(event, '{{qType}}')">
                        <input type="number" min="0" max="100" value="0" step="1" class="text-center btn_left_right" style="width: 0px;" disabled required id="per-num-{{qType}}" onchange="onRandomNumberChange(event, '{{qType}}')">
                        <input type="text" class="form-control text-right" placeholder="0" readonly id="total-score-{{qType}}">
                        <div class="input-group-append" style="width: 108px">
                            <span class="input-group-text bg-secondary text-light border-secondary" id="total-sco-lb-{{qType}}">该类型总分</span>
                        </div>
                    </div>
                    {% endfor %}                                      
                </div>

                <div class="row m-0 p-0 justify-content-center">                    
                    <div class="collapse text-center" id="random_tips">
                        <h3 class="m-0 p-0 align-bottom">
                            <span class="text_glow_light_anim text-success align-text-bottom oi oi-caret-top m-0 p-0" title="caret-top" aria-hidden="true" ic_name="difficult" ic_active="false"></span>
                        </h3>
                        <div class="card card-body m-0 mx-5 p-2 mb-3 bg-secondary text-warning">
                            在上方的输入框，为每个类型的题目，填入需要的题目数量 &#10;&#13; 之后点击下方“随机选题”按钮
                        </div>
                    </div>
                    <button class="btn btn_left_right btn-dark" 
                        type="button" id="btn_random" data-toggle="collapse" data-target="#random_tips"
                        aria-expanded="false" aria-controls="random_tips">随机选题</button>
                </div>

            </div>
        </div>
        <div class="col-4">
            <div class="row justify-content-md-center">
                <div class="col-7 m-0 p-0">
                    <div class="card bg-warning">
                        <div class="card-header card-header-sm">
                            <h5 class="card-title">未选题目
                                <span class="badge badge-dark" id="unsel_sum">0</span>
                                <span class="float-right">
                                    <button type="button" class="d-inline btn btn-sm btn-secondary" data-toggle="collapse" data-target="#content_filer" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">搜索</button>
                                </span>
                            </h5>
                            <div class="collapse align-content-end" id="content_filer">                        
                                <input class="form-control form-control-sm mr-sm-1 form-inline" type="search" placeholder="搜索" aria-label="搜索" id="filter_input" onchange="onFilterInput(event)">
                            </div>
                        </div>
                        <ul class="list-group" id="unSelected_qlist">
                        </ul>
                    </div>
                </div>
                <div class="col-5 m-0 p-0">
                    <!-- <div class="row-fluid"> -->
                    <div class="card bg-info">                
                        <div class="card bg-secondary text-white">
                            <div class="card-header text-center">
                                <h5 class="card-title">课程章节列表</h5>
                            </div>
                            <!-- <div class="card-body"> -->
                            {{course_html}}                  
                            <!-- </div> -->
                        </div>                
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block jsPage %} 
    <style>
    body {
        background-image: url('/Statics/images/BG_sm.jpg');
        background-blend-mode:soft-light;
        background-color: rgba(232, 246, 255, 0.685);
        background-size: 120%;
        background-repeat: no-repeat;
        background-position: left top;
        background-attachment: fixed;
    }
    </style>       
    <script type="text/javascript" src="{% static 'js/course/exam-editor.js' %}"></script>     
    {% include "top_layer.html" %}
{% endblock %} 

{% block pageInclude %}
    <link rel="stylesheet" href="{% static 'css/edu/teacher.css' %}"/>
{% endblock %} 