<div class="dropdown">
    <button class="btn btn-dark dropdown-toggle" type="button" id="exam_history_ls" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        已添加的考试列表
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="exam_history_ls">
        {% for exam in exam_list %}
        <button class="dropdown-item text-truncate" 
            type="button"
            onfocus="this.blur()"
            tabindex="-1"
            data-eid={{exam.id}}>
            {{exam.title}} {{exam.start_time}}
        </button>
        {% endfor %}                        
    </div>
</div>