{% load static %} 
<div id="sheet_panel" >
    <ul id="type_navbar">
        {% for qType in qTypeList %}
            <li><button type="radio" name="btn_type" class="qtype" 
                id="nav_{{qType}}"
                data-qtype="{{qType}}" onfocus="this.blur()" tabindex="-1" ></button></li>
        {% endfor %} 
    </ul>        
    <div id="sheet_bg_out">             
        <div id="sheet_bg_in">            
            <div id="quesion_desc_main">
                <div id="section_title"></div>
                <div id="desc_panel">
                    <div id="question_type"></div>                        
                    <p id="q_description">               
                    </p>
                </div>
            </div>
            <div id="answer_panel">
                <div id="q_type_sheet">
                </div>                    
                <p id="q_type_tips"></p>

                <div id="stat_panel">
                    <button hidden id="btn_submit" class="btn-round-sky" onfocus="this.blur()" tabindex="-1" >提 交</button>                    
                    <p id="current_panel">
                        第 <label id="current_index"></label>/<label id="sum_label"></label> 题
                    </p>
                </div>
                
                <div id="prev_panel">
                    <label id="prev_tips">上一题</label>
                    <img id="btn_Prev" src="{% static 'images/corner.png' %}" draggable="false"/>
                </div>
                <div id="next_panel">
                    <label id="next_index"></label>
                    <label id="next_tips">下一题</label>
                    <img id="btn_next" src="{% static 'images/corner.png' %}" draggable="false"/>
                </div>
                <div id="last_panel">已是最后一题</div>
            </div>                
        </div>
    </div>
</div>