{% extends "base.html" %}
{% load static %} 
{% block title %}考试{% endblock %} 
{% block jsPage %}
<script type="text/javascript" src="{% static 'js/course/answer-comp.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/course/exam-sheet.js' %}"></script> 
{% endblock %} 
{% block content %}
<form method="post" action="." id="exam_form" 
    data-typelisturl="{% url 'course:question-list-ids' %}"
    data-voice-answer-url="{% url 'course:exam_voice_answer' student_id=user_id exam_id=exam_id %}" hidden>
    {% csrf_token %}
    {{form.as_p}}
    <input type="hidden" id="id_user_id" value="{{user_id}}"/>
    {{exam_answer_form.as_p}}
    <input type="hidden" name="server_time" value="{{serv_time}}" id="id_server_time">
</form>
<div id="root_panel"> 
    {% include "course/exam_sheet.html" %}
    <div id="info_panel">
        <div id="model_bg" hidden>
            <div id="show_panel" hidden>
                <p>确认要交卷吗？交卷以后不能修改噢！</p>
                <button id="btn_ok" class="btn-round-wine"  onclick="onConfirmClick(event)" onfocus="this.blur()" tabindex="-1">交卷</button>
                <button id="btn_cancel" class="btn-round-sky" onclick="onCancelClick(event)" onfocus="this.blur()" tabindex="-1">再看看</button>
            </div>
        </div>
        <div id="time_panel">
            <div id="clock_icon"><span id="clock_time">0:0:0</span></div>
            <button id="btn_submit" class="btn-circle-orange" onclick="onSubmitClick(event)" onfocus="this.blur()" tabindex="-1">完成交卷</button>
            <!-- <a href="{% url 'user:student' %}" id="btn_back" class="btn-circle-orange"><span class="arrow-left"></span> 结束答题</a> -->
        </div>
        <div id="teacher" alt="Card image cap"></div>
    </div>    
</div>

{% endblock %}

{% block jsFunctionLib %}
    <link rel="stylesheet" href="{% static 'css/edu/student/common_lib.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/edu/student/exam_sheet.css' %}"/>
        
    <script type="text/javascript" src="{% static 'js/libs/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/recorder.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tools.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/translate.js' %}"></script>
{% endblock %}