{{ form.non_field_errors }} 

{{ form.lesson.errors }}
{{ form.lesson }}

{{ form.content.errors }}
{{ form.content }}

{{ form.file_type.errors }}
<div class="input-group mt-3">
    <div class="input-group-prepend">
        <label class="input-group-text" for="{{ form.file_type.id_for_labe }}">上传文件类型</label>
    </div>
    {{ form.file_type }}
</div>

{{ form.file_name.errors }}
{{ form.file_name }}

{{ form.file.errors }}
<div class="custom-file">
    {{ form.file }}
    <label class="custom-file-label" for="{{ form.file.id_for_labe }}" id="fsel-label">选择文件...</label>
</div>

