{% extends "base_bs_style.html" %} 
{% load static %} 
{% block title %}Lesson Editor{% endblock %} 

{% block header %} 
{{ course.description }}
{% include "user/teacher_header.html" %} 
{% endblock %}

{% block content %} 

<h2 class="text-center font-weight-bold p-1 text-warning text_outline ">学习资料上传</h2>
<div class="row border border-dark mx-5 p-1 rounded bg_black_u2d">
    <div class="col-3">
        <div class="card bg-light">                
            <div class="card bg-secondary text-white">
                <div class="card-header text-center">
                    <h5 class="card-title">课程章节列表</h5>
                </div>
                <!-- <div class="card-body"> -->
                {{course_html}}                  
                <!-- </div> -->
            </div>                
        </div>
    </div>
    <div class="col-7 border-info border-right border-left">
        <form action="." method="POST" id="lesson_con_form" enctype="multipart/form-data"  onsubmit="return checkSubmit()" >
            {% csrf_token %}
            <div id="form_part">
            {{lesson_form_html}}
            </div>
            <div class="card border-secondary mt-2">
                <div class="card-header bg-primary">
                    <h6 class="modal-title font-weight-bold text-light">该资料可查看的班级设置</h6>
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-primary mb-1" onclick="onAllClassClick(event)">选中所有班级</button>
                    <span class="text-danger inline" id="cls_setting_checker" hidden>必须至少选择一个班级!!</span> 
                    {% for cls in class_list %}
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="class_{{cls.id}}" data-cls-id="{{cls.id}}" checked>
                        <label class="custom-control-label" for="class_{{cls.id}}">{{cls.class_name}}</label>
                    </div>
                    {% endfor %}
                </div> 
            </div>
            <input type="submit" value="上传" class="btn btn-primary inline mb-2"/>
            <button id="btn_new" type="button" onclick="onNewClick(event)" class="btn btn-warning align-left inline ml-5 mb-2"  onfocus="this.blur()" tabindex="-1">新建</button>
            <button id="btn_delete" type="button" onclick="onDeleteClick(event)" class="btn btn-danger inline mb-2"  onfocus="this.blur()" tabindex="-1" data-url="{% url 'course:lesson_delete' lesson_content_id=9999 %}">删除</button>
        </form>
        <button class="btn btn-dark" onclick="onPreview(event)" id="btn_preview" >预览</button> 
        <div class="w-auto" id="prev_part" alt="Max-width 100%">

        </div>
    </div>
    <div class="col-2">
        <div class="card bg-light">
            <div class="card bg-info text-warning">
                <div class="card-header text-center">
                    <h5 class="card-title font-weight-bold">本章资料</h5>
                </div>
                <!-- <div class="card-body"> -->
                <div id="less_cont_part">
                {{less_cont_html}}
                </div>
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block jsPage %}  
<script type="text/javascript" src="{% static 'js/course/lesson_editor.js' %}"></script> 
{% include "top_layer.html" %}
{% endblock %} 

{% block pageInclude %}
    <link rel="stylesheet" href="{% static 'css/edu/teacher/teacher.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/edu/teacher/lesson_editor.css' %}"/>
{% endblock %} 