{% extends "base_bs_style.html" %} 
{% load static %} 
{% block title %}Lesson Editor{% endblock %} 

{% block header %} 
{% include "user/teacher_header.html" %} 
{% endblock %}

{% block content %} 

<h2 class="text-center font-weight-bold p-1 text-warning text_outline ">学习资料上传</h2>
<div class="row border border-dark mx-5 p-1 rounded " style="background: linear-gradient(#ffffffcc,#bd6c109a)">
    <div class="col-3">
        <div class="card bg-info">                
            <div class="card bg-secondary text-white">
                <div class="card-header text-center">
                    <h5 class="card-title">课程章节列表</h5>
                </div>
                <!-- <div class="card-body"> -->
                {{course_html}}                  
                <!-- </div> -->
            </div>                
        </div>
    </div>
    <div class="col-8">        
        <form action="." method="POST" id="lesson_con_form" enctype="multipart/form-data">
            {% csrf_token %}
            <div id="form_part">
            {{lesson_form_html}}
            </div>
            <input type="submit" value="上传" class="btn btn-primary mb-2"></input>
        </form>
        <button class="btn btn-dark" onclick="onPreview(event)" id="btn_preview">预览</button> 
        <div id="prev_part">

        </div>
    </div>
</div>

{% endblock %}

{% block jsPage %}  
<style>
body {
    background-image: url('/Statics/images/BG_sm.jpg');
    background-blend-mode:soft-light;
    background-color: rgba(232, 246, 255, 0.8);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
}
</style>
<script type="text/javascript" src="{% static 'js/course/lesson_editor.js' %}"></script> 
{% include "top_layer.html" %}
{% endblock %} 

{% block pageInclude %}
    <link rel="stylesheet" href="{% static 'css/edu/teacher.css' %}"/>
{% endblock %} 