{% if questionType != "Voice" %}
{{ form.as_p }}
{% endif %}

{% if questionType == "TrueOrFalse" %}
<br>
{% elif questionType == "FillInBlank" %}
<div id="KeysPanel" class="border-top border-warning pt-1 rounded">
</div>
<br>
{% elif questionType == "CaseAnalyse" %}
<div class="border-top border-warning pt-3 rounded">
    <div id="SubQ_Panel">
    </div>
    <div class="input-group m-0">
        <div class="input-group-prepend">
            <select class="custom-select bg-light text-primary" id="sub_type_sel">
                <option value="FillInBlank">填空题</option>
                <option value="TrueOrFalse">判断题</option>
                <option value="Choice">单项选择题</option>
                <option value="MultiChoice">多项选择题</option>
                <option value="Pair">配对题</option>
                <option value="Sort">排序题</option>
            </select>
        </div>
        <select class="form-control text-dark text-truncate" id="sub_question_sel">
            <option selected>在本章节中选择子题目...</option> 
        </select>        
        <div class="input-group-append">
            <button type="button" class="btn btn-dark" id="btn_sub_add">确认添加</button>
        </div>
    </div>
</div>
<br>
{% elif questionType == "Voice" %}
<label>题干：</label>
{{ form.description.errors }}
{{ form.description }}
{{ form.sectionID.errors }}
{{ form.sectionID }}
{{ form.flag.errors }}
{{ form.flag }}
{{ form.star.errors }}
{{ form.star }}
{{ form.case_analyse.errors }}
{{ form.case_analyse }}
<br>
<div class="border-top border-warning pt-1 rounded">
    <div class="custom-file">
        {{ form.qVoice.errors }}
        {{ form.qVoice }}
        <label class="custom-file-label" for="id_qVoice" id="fsel-label">选择文件...</label>
    </div>
    <audio src='{{ quest_obj.qVoice }}' alt="音频文件，需要支持HTML5 的浏览器" id="prev_control" controls="controls">音频文件，需要支持HTML5 的浏览器</audio>
</div>
{% else %}
<div id="OptionPanel" class="border-top border-warning pt-3 rounded">
    <p id="BtnLine">
        <button type="button" class="btn btn-dark" id="Btn_OptionAdd">添加选项</button>
        <button type="button" class="btn btn-danger" id="Btn_OptionDelete">删除选项</button>
    </p>
</div>
{% endif %}