{% extends "base_bs_style.html" %}
{% load static %} 
{% block title %}Question Editor{% endblock %} 

{% block header %}
{% include "user/teacher_header.html" %}
{% endblock %}

{% block content %}
<div class="container-fluid ">
<!-- <div class="card border-white"> -->
    <div class="row-fluid ">
    <!-- <div class="card-header"> -->
        <!-- <div class="span12"> -->
            <ul class="nav nav-pills justify-content-center text-center ">
                {% for qType in qTypeList %}
                <li class="nav-item" style="width: 150px;">
                    {% url 'course:question-editor-type' qType as qTypeURL %} {% url 'course:question-list' qType as qListURL %}
                    <a class="nav-link" href="#" id="NavBtn_{{ qType }}" data-url="{{qTypeURL}}" data-type-name="{{ qType }}" data-qlist-url="{{qListURL}}" draggable="false">{{qType}}</a>
                </li>
                {% endfor %}
            </ul>
        <!-- </div> -->
    </div>    
    <div class="row border rounded border-primary mx-1 py-4 bg-light">
        <div class="col-2">
            <div class="card bg-secondary text-white">
                <div class="card-header text-center">
                    <h5 class="card-title">课程章节列表</h5>
                </div>
                <!-- <div class="card-body"> -->                    
                    {% for course in course_list %}
                    <button class="list-group-item list-group-item-action list-group-item-secondary inline-block text-truncate" id="course_{{course.id}}" 
                            onclick="onSectionClick(event)" onfocus="this.blur()"
                            tabindex="-1"
                            data-section={{course.id}} data-toggle="tooltip" data-placement="right" title="{{course.name}}" >{{course.name}}</button>
                    {% endfor %}                    
                <!-- </div> -->
            </div>
        </div>
        <div class="col-7 border-right border-left border-primary">
            <div class="row-fluid">
                <div class="">
                    <form class="form-horizontal" action="." method="post" id="Form_QuestionEditor" onsubmit="return checkQuestion()">
                        {% csrf_token %}
                        <div id="QType_Panel">
                        </div>
                        <!--input class="form-control" type="submit" value="Add" form="Form_QuestionEditor"-->
                    </form>
                </div>

                <div class="border-top border-warning py-2"></div>
                <div class="row align-content-center align-middle">
                    <div class="input-group-prepend col-sm-4 rounded-circle">
                    <span class=" align-middle input-group-text pt-0 border-right">难度</span>
                    <h2 ic_group="difficult">
                        <span class="text-muted oi oi-star" title="star" aria-hidden="true" ic_name="difficult" ic_active="false"></span>
                        <span class="text-muted oi oi-star" title="star" aria-hidden="true" ic_name="difficult" ic_active="false"></span>
                        <span class="text-muted oi oi-star" title="star" aria-hidden="true" ic_name="difficult" ic_active="false"></span>
                        <span class="text-muted oi oi-star" title="star" aria-hidden="true" ic_name="difficult" ic_active="false"></span>
                        <span class="text-muted oi oi-star" title="star" aria-hidden="true" ic_name="difficult" ic_active="false"></span>
                    </h2>
                    </div>
                    
                    <div class="input-group-prepend col-sm-2">
                        <span class="input-group-text">出现位置</span>
                    </div>
                    <div class="col-sm-3 align-middle">
                        <div class="form-check align-middle">
                            <input class="form-check-input form-control-sm" type="checkbox" name="appear_pos" id="id_in_pra" value="pra" checked>
                            <label class="form-check-label form-control-sm" for="id_in_pra">
                                练习
                            </label>
                        </div>
                        <div class="form-check align-middle">    
                            <input class="form-check-input form-control" type="checkbox" name="appear_pos" id="id_in_exm" value="exm" checked>
                            <label class="form-check-label form-control-sm" for="id_in_exm">
                                考试
                            </label>
                        </div>
                    </div>
                    
                    <div class="col-1">
                        <button class="btn btn-lg btn-success right" type="button" onclick="onSubmitCheck()" id="btn_modify">加入题库</button>
                    </div>
                  
                </div>
            </div>
        </div>
        <div class="col-3">
            <!-- <div class="row-fluid"> -->
            <div class="card bg-info">
                <div class="card-header card-header-sm">
                    <h5 class="card-title">题目列表
                        <span class="float-right">
                            <button type="button" class="d-inline btn btn-sm btn-secondary" data-toggle="collapse" data-target="#content_filer" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">搜索</button>
                        </span>
                    </h5>
                    <div class="collapse align-content-end" id="content_filer">                        
                        <input class="form-control form-control-sm mr-sm-1 form-inline" type="search" placeholder="搜索" aria-label="搜索" id="filter_input" onchange="onFilterInput(event)">
                    </div>
                </div>
                <ul class="list-group" id="Question_List">
                </ul>
                <div class="card-footer text-right">
                    <button class="btn btn-dark" type="button" onclick="onAddModeClick(event)" id="btn_addQ" >添加题目</button> &nbsp&nbsp
                    <button class="btn btn-danger" type="button" onclick="onDeleteQuestionClick(event)" id="btn_deleteQ" disabled data-url="{% url 'course:question-delete' qtype='qqqq' qid='999' %}">删除题目</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block jsPage %}        
    <script type="text/javascript" src="{% static 'js/course/question-form.js' %}"></script> 
    {% include "top_layer.html" %}
{% endblock %} 