{% extends "base.html" %}
{% load static %}
{% block title %}Question Editor{% endblock %}

{% block jsFunctionLib %}
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
{% endblock %}

{% block jsPage %}
    <script type="text/javascript" src="{% static 'js/question-form.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="text-center">
        <h1>Question Editor</h1>
        <nav>
            <div class="">
                <p>
                {% for qType in qTypeList %} 
                {% url 'course:question-editor-type' qType.get_url_name as qTypeURL %}
                    <button type="button" id="NavBtn_{{ qType.get_url_name }}" data-url="{{qTypeURL}}" data-type-name="{{ qType.get_url_name }}">{{qType.get_url_name}}</button>
                {% endfor %}
                </p>
            </div> 
        </nav>
        
        <form class="form-horizontal" action="." method="post" id="Form_QuestionEditor" onsubmit="return checkQuestion()">
            {% csrf_token %}
            <div id="QType_Panel">
            </div>
            <input type="submit" value="Add" form="Form_QuestionEditor">
        </form>

        <button type="button" onclick="onSubmitCheck()">Add to Course</button>
    </div>
{% endblock %}
