{% extends "base.html" %}
{% load static %} 

{% block title %}课程学习{% endblock %} 

{% block jsFunctionLib %}
    <link rel="stylesheet" href="{% static 'css/edu/student/study_lesson.css' %}"/>

    <script type="text/javascript" src="{% static 'js/libs/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tools.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/translate.js' %}"></script>
{% endblock %}

{% block jsPage %}  
<script type="text/javascript" src="{% static 'js/course/study_lesson.js' %}"></script> 
{% endblock %} 

{% block content %}
{% csrf_token %}
<div id="main-panel" class="">
    {{ form.non_field_errors }} 
    {{ form.lesson.errors }}
    {{ form.lesson }}

    {{ form.content.errors }}
    {{ form.content }}

    {{ form.file_type.errors }}    
    {{ form.file_type }}

    {{ form.file_name.errors }}
    {{ form.file_name }}
    <button id="btn_back" class="btn-round-orange" onclick="onBackClick(event)"
        data-progurl="{% url 'user:update_progress' %}" 
        data-progress="{{progress}}"
        data-url="{% url 'user:student' %}">秘籍完成</button>
</div>
{% endblock %}

