{% extends "base.html" %}
{% load static %} 

{% block title %}课程学习{% endblock %} 

{% block jsFunctionLib %}
    <link rel="stylesheet" href="{% static 'css/edu/student/study_lesson.css' %}"/>

    <script type="text/javascript" src="{% static 'js/libs/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tools.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/translate.js' %}"></script>
{% endblock %}

{% block jsPage %}  
<script type="text/javascript" src="{% static 'js/course/study_lesson.js' %}"></script> 
{% endblock %} 

{% block content %}
{% csrf_token %}
<div id="root_panel">
    <div id="teacher"></div>
    <div id="main_panel" class="">
        <div id="text_panel">
            <div id="section_title">
                {{section_name}}
            </div>
            <p id="q_description">                
            </p>            
        </div>
        <div id="file_panel">

        </div>  
        <button id="btn_next" class="btn-round-wine" onclick="onNextClk(event)" >下一份秘籍</button>
        <button id="btn_back" class="btn-round-orange" onclick="onBackClick(event)"
            data-progurl="{% url 'user:update_progress' %}" 
            data-progress="{{progress}}"
            data-url="{% url 'user:student' %}">秘籍完成</button>
    </div>
</div>
<div id="id_info" data-clsid="{{class_id}}" hidden>
    {% for lesson_content in lesson_content_list %}
    <li data-file-type="{{ lesson_content.file_type }}"
        data-file-url="{{ lesson_content.file }}"
        data-class-list="{{ lesson_content.class_id_list }}">{{ lesson_content.content }}</li>
    {% endfor %}
</div>
{% endblock %}

