{% extends "base.html" %}
{% load static %} 

{% block title %}课程选择{% endblock %} 

{% block jsFunctionLib %}
{% endblock %}


{% block content %}
<div id="main-panel" class="half-alpha">
    <p>
        <span id="login-title">课程选择</span>
    </p>
    {% for course in course_list %}
    <button class="list-group-item list-group-item-action list-group-item-secondary inline-block text-truncate" id="course_{{course.id}}" 
            onclick="onSectionClick(event)" onfocus="this.blur()"
            tabindex="-1"
            data-section={{course.id}} data-toggle="tooltip" data-placement="right" title="{{course.description}}" >{{course.description}}</button>
    {% endfor %}      
</div>
{% endblock %}

