{% extends "base.html" %}
{% load static %} 

{% block title %}课程选择{% endblock %} 

{% block jsFunctionLib %}
<link rel="stylesheet" href="{% static 'css/edu/student/course_selector.css' %}"/>
<script type="text/javascript" src="{% static 'js/libs/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tools.js' %}"></script>
{% endblock %}


{% block content %}
<div id="main-panel" class="half-alpha">
    <h3>
        <span id="login_title">课程选择</span>
    </h3>
    <form action="." method="post" id="Form_Login">
        {% csrf_token %}        
        <input id="param" name="course_id" hidden/>
    </form> 
    <div id="id_course_list">
        {% for course in course_list %}
        <div class="course_frame">
            <label>{{course.description}}</label><br>
            <img class="course_img" src='/Statics/images/{{course.db_name}}.png'/>
            <br>
            <a id="course_{{course.id}}" 
                    onclick="onCourseClick(event)" onfocus="this.blur()"
                    tabindex="-1"
                    data-id={{course.id}}>进入</a>
        </div>
        {% endfor %}   
    </div>
</div>
{% endblock %}

{% block jsPage %}
<script type="text/javascript" src="{% static 'js/user/course_selector.js' %}"></script> 
{% endblock %}