{% extends "base.html" %}
{% load static %} 

{% block title %}登录{% endblock %} 

{% block jsFunctionLib %}
    <link rel="stylesheet" href="{% static 'css/edu/student/login.css' %}"/>

    <script type="text/javascript" src="{% static 'js/libs/jquery.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/translate.js' %}"></script>
{% endblock %}


{% block content %}
<div id="main-panel" class="blur-clear">    
    <p>
        <span id="login-title">登 录</span>
    </p>
    <div id="panel-bg" class="row-fluid text-center">
        <form action="." method="post" id="Form_Login">
            {% csrf_token %}
            {{ form.as_p}}
            <input type="submit" value="登 录">
            <!--input class="form-control" type="submit" value="Add" form="Form_QuestionEditor"-->
        </form>
    </div>
</div>
{% endblock %}