{% extends "base.html" %}
{% load static %} 

{% block title %}登录{% endblock %} 

{% block jsFunctionLib %}
    <link rel="stylesheet" href="{% static 'css/edu/student/login.css' %}"/>

    <script type="text/javascript" src="{% static 'js/libs/jquery.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/translate.js' %}"></script>
{% endblock %}


{% block content %}
<div id="main-panel">
    <h1 id="login-title" class="text-outline-deepblue">登 录</h1>
    <div id="panel-bg" class="row-fluid text-center">
        
        <p>Input user name.</p>
        <form class="form-horizontal" action="." method="post" id="Form_Login">
            {% csrf_token %}
            {{ form.as_p}}
            <input type="submit" value="Login">
            <!--input class="form-control" type="submit" value="Add" form="Form_QuestionEditor"-->
        </form>
    </div>
</div>
{% endblock %}