{% extends "base.html" %}
{% load static %} 

{% block title %}学生主页{% endblock %} 

{% block jsFunctionLib %}
    <link rel="stylesheet" href="{% static 'css/edu/student/student_main.css' %}"/>
    <script type="text/javascript" src="{% static 'js/libs/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/translate.js' %}"></script>
{% endblock %}


{% block header %}
{% endblock %}

{% block content %}
<div id="root_panel">
    <div class="" id="stud_prof">
        <div class="row-fluid" id="prof_inner">            
            <div id="user_info">
                <span id="icon_user"></span>
                <label id="id_user">{{stud_info.user}}</label>
                <label id="id_student_number"> 学号：{{ stud_info.student_number }} </label>
                <label id="id_class_id"> {{ stud_info.class_id }}</label>
                <input id="id_cls_lock_mode" type="checkbox" hidden value="{{ cls_set.prac_lock_mode }}"/>
                <input id="id_cls_order" type="hidden" value="{{ cls_set.lesson_order }}" />
            </div>
            <div id="user_add"> 
                <div id="icon_gold" class="num-0">
                    <label id="id_gold">{{ stud_cprof.gold }}</label>
                </div>
                <span id='id_add_gold' data-gold='{{add_gold}}'>+{{add_gold}} 获得老师奖励！</span>
                
                <span id="id_progress" data-progress="{{ stud_cprof.progress }}" hidden></span>
                <label id="id_rank" hidden>{{ stud_cprof.rank }}</label>
                <label id="id_level" hidden>{{ stud_cprof.level }}</label>
            </div>            
        </div>
    </div>

    <div id="exam_history"
        data-url="{% url 'course:exam_answer' examans_id=9999 %}">
        <div id="history_inner">
            <h3>试炼历史</h3>
            <p id="exam_check_none">未参加过试炼</p>
            <p id="exam_check"><span id="exam_check_title"></span>:
                <a class="btn btn-success right" type="button" onclick="" id="btn_exam_check">进入查看</a>
            </p>
        </div>
        <img src="{% static 'images\exam_icon.png' %}" id="history_icon"/>
        <div id="exam_his_list" hidden>
            <ul>
                {% for exam_his in exam_ans_list %}
                <li data-title="{{ exam_his.title }}" data-url="{% url 'course:exam_answer' examans_id=exam_his.id %}"></li>                
                {% endfor %}
            </ul>
        </div>        
        <button id="his_prev" onfocus="this.blur()" onclick="onHisPrev(event)" tabindex="-1"></button>
        <button id="his_next" onfocus="this.blur()" onclick="onHisNext(event)" tabindex="-1"></button>
    </div>

    <div id="exam_entrance"
        data-examurl="{% url 'course:exam_current' exam_id=0 %}"
        data-url="{% url 'course:exam_ready'%}">
        <div id="exam_inner">
            <h3>试炼场</h3>
            <p id="exam_closed">当前未开放</p>
            <p id="exam_open">开放时间：<span id="exam_starttime">xxxxxxx</span></p>
            <p id="exam_end">结束时间：<span id="exam_endtime">xxxxxxx</span></p>            
            <a class="btn btn-success right" type="button" onclick="" id="btn_enter_exam"> 进入 </a>
        </div>
        <img src="{% static 'images\Shield.png' %}" id="exam_icon"/>
        <img src="{% static 'images\Sword.png' %}" id="exam_icon_Sword" class="sword_shirk"/> 
    </div>

    <div class="col-8" id="lesson_panel">
        <div id="girl_panel"></div>
        <div id="cur_lesson_panel">
            <!-- <span class="icon_book"></span> -->
            <div id="learn_book_panel" class="panel-blue"> 
                <div class="panel-cloud">                    
                    <div id="study_title">秘  籍</div>
                    <p id="chapter_title"></p>
                    <div id="lesson_info">
                        <div id="lesson_info_inner">
                            <div id="lesson_book_open"></div>
                            <p>查看秘籍<br></p>
                        </div>                        
                        <a id="btn_lesson" class="btn-round-sky">
                            进入学习                        
                        </a>
                    </div>                    
                    <div id="lesson_locked">在上一课的试炼中，一次获得{{unlock_number}}枚以上的星币，就可以解锁这一课的秘籍噢！
                        <div class="icon_locker"></div>
                    </div>
                </div>
                <span class="icon_lesson"></span>
            </div>
            <div id="practice_panel" class="panel-pink">
                <div class="panel-cloud">
                    <div id="practice_title">修  炼</div>
                    <p id="girl_sent">和我一起修炼吧</p>
                    <div id="practice_info">                        
                        <div id="practice_info_inner">                            
                            <div id="practice_girl"></div>
                            <p>反复修炼可以掌握知识<br>当然也可以获得更多的奖励</p>
                        </div>
                        <a id="btn_practice" class="btn-round-wine">
                            进入修炼
                        </a>                                               
                    </div>
                    <div id="practice_locked">先去看完秘籍，再来修炼吧！
                        <div class="icon_locker"></div>
                    </div> 
                </div>
                <span class="icon_practice"></span>
            </div>
        </div>
        <div id="lesson_list_panel">            
            <button id="move_prev" onfocus="this.blur()" tabindex="-1"></button>
            <div id="lesson_ctrl">
                <div id="lesson_inner" class="">
                    <li id="l_uu" class="lesson-book"><div class="lesson_label"></div></li>
                    <li id="l_u" class="lesson-book"><div class="lesson_label"></div></li>
                    <li id="l_m" class="lesson-book">                                                
                        <div class="lesson_label"></div>     
                    </li>
                    <li id="l_b" class="lesson-book"><div class="lesson_label"></div></li>
                    <li id="l_bb" class="lesson-book"><div class="lesson_label"></div></li>                  
                </div>
            </div>
            <button id="move_next" onfocus="this.blur()" tabindex="-1"></button>  
        </div>         

        <div class="row-fluid" id="class_list" hidden>
            <ul class="list-group list-group-flush">
                {% for lesson in lesson_list %}
                <li class="list-group-item" 
                    data-id="{{ lesson.id }}"
                    data-desc="{{ lesson.description }}"
                    data-curl="{% url 'course:study' lesson_id=lesson.id %}"
                    data-purl="{% url 'course:answer-sheet' sectionID=lesson.id %}" >
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="" id="hanging_panel_left">
    <div class="card text-white bg-warning mb-3" id="notice_panel">  
        <img src="{% static 'images\icon_notice.png' %}" id="tree_img"/>
        <div id="inner_panel">                
            <h3>公  告</h3>
            <div class="card-body" id="notice_show" data-url="{% url 'notice:ongoing' %}">                        
                暂时没有新的公告
            </div>
        </div>            
    </div>
</div>
<div class="" id="hanging_panel_right">
    <div class="card text-white bg-info mb-3" id="billboard_panel">
        <div class="card-body" id="billboard_content">
            <h3>高手榜</h3>
            <div id="billboard_list">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">萧峰</li>
                    <li class="list-group-item">令狐冲</li>
                    <li class="list-group-item">武大郎大郎</li>
                    <li class="list-group-item">小二郎</li>
                    <li class="list-group-item">小二郎</li>
                    <li class="list-group-item">小二郎</li>
                    <li class="list-group-item">小二郎</li>
                    <li class="list-group-item">小二郎</li>
                    <li class="list-group-item">小二郎</li>
                    <li class="list-group-item">小二郎</li>
                </ul>
            </div>                    
        </div>
        <img src="{% static 'images\planet_rank_icon.png' %}" id="bill_icon"/>
    </div>            
</div>
<div id="exit_panel">
    <a href={% url 'user:course' %} class="" draggable="false">
    <img src="{% static 'images\arrows_left.png' %}"/>返回课程选择</a>
</div>
{% endblock %}

{% block jsPage %}
<script type="text/javascript" src="{% static 'js/user/student_main.js' %}"></script> 
{% endblock %}

