{% extends "base.html" %}
{% load static %} 

{% block title %}学生主页{% endblock %} 

{% block jsFunctionLib %}
    <link rel="stylesheet" href="{% static 'css/edu/student/student_main.css' %}"/>
    <script type="text/javascript" src="{% static 'js/libs/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/translate.js' %}"></script>
{% endblock %}


{% block header %}
{% endblock %}

{% block content %}
<div id="root_panel">
    <div class="" id="stud_prof">
        <div class="row-fluid" id="prof_inner">
            <div id="prof_bg"></div>
            <div id="user_info">
                <span id="icon_user"></span>
                <label id="id_user">{{stud_info.user}}</label>
                <label id="id_student_number"> 学号：{{ stud_info.student_number }} </label>
                <label id="id_class_id"> {{ stud_info.class_id }}</label>
            </div>
            <div id="user_add"> 
                <span id="icon_gold" class="num-0"></span>
                <label id="id_gold">{{ stud_cprof.gold }}</label>
                <span id="id_progress" data-progress="{{ stud_cprof.progress }}" hidden></span>
                <label id="id_rank" hidden>{{ stud_cprof.rank }}</label>
                <label id="id_level" hidden>{{ stud_cprof.level }}</label>
            </div>            
        </div>
    </div>
    <div class="col-8" id="lesson_panel">
        <div id="girl_panel"></div>
        <div id="cur_lesson_panel">
            <!-- <span class="icon_book"></span> -->
            <p id="chapter_title"></p>            
            <a id="btn_lesson">
                <div class="icon_locker bg_lesson"><span class="icon_locker"></span></div>
                <div id="lesson_info">在上一课的试炼中，一次获得{{unlock_number}}枚以上的星币，就可以解锁这一课的秘籍噢！
                    <span></span>
                </div>
            </a>
            <a id="btn_practise">
                <div class="icon_locker bg_prac"><span class="icon_locker"></span></div>
                <div id="practise_info">先去看完上面的秘籍，再来试炼吧！
                    <span></span>
                </div>
            </a>
        </div>

        <div id="lesson_list_panel">            
            <button id="move_prev" class="btn-up" onfocus="this.blur()" tabindex="-1"></button>
            <div id="lesson_ctrl">
                <div id="lesson_inner" class="">
                    <li id="l_uu" class="lesson-book"><div class="lesson_label"></div><span class="lesson-book-u"></span></li>
                    <li id="l_u" class="lesson-book"><div class="lesson_label"></div><span class="lesson-book-u"></span></li>
                    <li id="l_m" class="lesson-book">
                        <div class="lesson_label"></div>
                        <span class="lesson-book-b" style="background-size:100% 0%; opacity:0;"></span>
                        <span class="lesson-book-u" style="background-size:100% 0%; opacity:0; top:-100%;"></span>                        
                    </li>
                    <li id="l_b" class="lesson-book"><div class="lesson_label"></div><span class="lesson-book-b"></span></li>
                    <li id="l_bb" class="lesson-book"><div class="lesson_label"></div><span class="lesson-book-b"></span></li>                  
                </div>
            </div>
            <button id="move_next" class="btn-up" onfocus="this.blur()" tabindex="-1"></button>  
        </div>         

        <div class="row-fluid text-center" id="exam_entrance" 
            data-examurl="{% url 'course:exam_current' exam_id=0 %}"
            data-url="{% url 'course:exam_ready'%}">
            <h4>试炼场</h4>
            <p>
                开放时间：<span id="exam_starttime">xxxxxxx</span> <br>
            </p>
            <a class="btn btn-success right" type="button" onclick="" id="btn_enter_exam">未开放</a> 
        </div>
        <div class="row-fluid" id="class_list" hidden>
            <ul class="list-group list-group-flush">
                {% for lesson in lesson_list %}
                <li class="list-group-item" 
                    data-desc="{{ lesson.description }}"
                    data-curl="{% url 'course:study' lesson_id=lesson.id %}"
                    data-purl="{% url 'course:answer-sheet' sectionID=lesson.id %}" >
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="" id="hanging_panel">
        <div class="card text-white bg-warning mb-3" id="notice_panel">  
            <img src="{% static 'images\tree.png' %}" id="tree_img"/>
            <div id="inner_panel">
                <h3>公  告</h3>
                <div class="card-body" id="notice_show" data-url="{% url 'notice:ongoing' %}">                        
                    暂时没有新的公告
                </div>
            </div>            
        </div>
        <div class="card text-white bg-info mb-3" id="billboard_panel">
            <div class="card-body" id="billboard_content">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">萧峰</li>
                    <li class="list-group-item">令狐冲</li>
                    <li class="list-group-item">武大郎</li>
                    <li class="list-group-item">小二郎</li>
                </ul>                    
            </div>
        </div>            
    </div>
    <div id="bottom_panel">
    </div>
</div>

{% endblock %}

{% block jsPage %}
<script type="text/javascript" src="{% static 'js/user/student_main.js' %}"></script> 
{% endblock %}

