{% extends "base_bs_style.html" %}
{% load static %}
{% block title %}学生管理{% endblock %}

{% block header %}
{{ course.description }}
{% include "user/teacher_header.html" %}
{% endblock %}

{% block content %}
<h2 class="text-center font-weight-bold p-1 text- text_outline ">学生信息管理</h2>
<div class="container-fluid border border-dark mx-5 p-1 rounded bg_black_u2d">
    <div class="row m-1">
        <div class="col-2 m-0 p-0">
            <div class="card bg-secondary text-light">
                <div class="card-header text-center">
                    <h5 class="card-title">班级列表</h5>
                </div>
                
                {% for cls in class_list %}
                <button class="list-group-item list-group-item-action list-group-item-secondary inline-block text-truncate" id="class_{{cls.id}}" 
                    onclick = "onClassSelect(event)" onfocus="this.blur()" tabindex = "-1"
                    data-url="{% url 'user:student_list' %}"
                    data-cls-id="{{cls.id}}" 
                    data-toggle="tooltip" data-placement="right" 
                    title="{{cls.class_name}}" >{{cls.class_name}}
                </button>
                {% endfor %}               
            </div>                
        </div>
        <div class="col-2 m-0 p-0 pr-2">
            <div class="card bg-white">
                <div class="card-header text-center text-dark">
                    <h5 class="card-title">学生列表</h5>
                </div>
                <ul class="list-group" id="stu_li_con">
                </ul>
                <div class="card-footer small">
                    <button class="btn btn-success right" type="button" onclick="" id="btn_add_stu" data-toggle="modal"
                            data-target="#exampleModalCenter" hidden>添加学生
                    </button>
                    <button class="btn btn-dark right" type="button" onclick="onDeleteClick(event)" id="btn_del_stu" hidden>
                        删除学生
                    </button>

                </div>
            </div>
        </div>
        <div class="col-6 border-dark border-right border-left">
            {% csrf_token %}
            <div id="stud_prof" class="">

            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block jsPage %}
{% include "top_layer.html" %}
<script type="text/javascript" src="{% static 'js/user/student_manager.js' %}"></script>
{% endblock %} 

{% block pageInclude %}
    <link rel="stylesheet" href="{% static 'css/edu/teacher/teacher.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/edu/teacher/student_manager.css' %}"/>
{% endblock %} 