{% extends "base.html" %}
{% load static %} 

{% block title %}学生主页{% endblock %} 

{% block jsFunctionLib %}
    <link rel="stylesheet" href="{% static 'css/edu/student/student_main.css' %}"/>
    <script type="text/javascript" src="{% static 'js/libs/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/translate.js' %}"></script>
{% endblock %}


{% block header %}
{% endblock %}

{% block content %}
<div id="root_panel">
    <div class="" id="stud_prof">
        <div class="row-fluid">
            <label>{{stud_info.user}}</label>
            {{ stud_info.student_number }}
            {{ stud_info.class_id }}
            {{ stud_info.gold }}
            {{ stud_info.progress }}
            {{ stud_info.rank }}
            {{ stud_info.level }}
        </div>
    </div>
    <div class="col-8" id="lesson_panel">
        <div id="girl_panel">

        </div>
        <div class="row-fluid text-center" id="exam_entrance">
            <h4>试炼场</h4>
            <p>
                开放时间：xxxxxxx <br>
            </p>
            <button class="btn btn-success right" type="button" onclick="" id="btn_enter_exam">未开放</button> 
        </div>
        <div class="row-fluid" id="class_list">
            <ul class="list-group list-group-flush">
                {% for lesson in lesson_list %}
                <li class="list-group-item">
                    {{lesson.description}}
                    <a href="#" class="btn btn-info align-right" id="btn_enter_learn">课程</a> 
                    <a href="{% url 'course:answer-sheet' sectionID=lesson.id %}" class="btn btn-warning right" id="btn_enter_practise">修炼</a> 
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="" id="hanging_panel">
        <div class="card text-white bg-warning mb-3" id="notice_panel">  
            <img src="{% static 'images\tree.png' %}" id="tree_img"/>
            <div id="inner_panel">
                <h3>公  告</h3>
                <div class="card-body" id="notice_show" data-url="{% url 'notice:ongoing' %}">                        
                    公布一些内容
                </div>
            </div>            
        </div>
        <div class="card text-white bg-info mb-3" id="billboard_panel">
            <div class="card-body" id="billboard_content">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">萧峰</li>
                    <li class="list-group-item">令狐冲</li>
                    <li class="list-group-item">武大郎</li>
                    <li class="list-group-item">小二郎</li>
                </ul>                    
            </div>
        </div>            
    </div>
</div>

{% endblock %}

{% block jsPage %}
<script type="text/javascript" src="{% static 'js/user/student_main.js' %}"></script> 
{% endblock %}
