{% extends "base_bs_style.html" %}
{% load static %} 
{% block title %}Teacher Main Page{% endblock %} 

{% block header %}
<nav class="navbar navbar-expand navbar-dark bg-dark text-light w-100" id="banner" role="alert">
    <div class="w-100"> {{ course_desc }}
        {% if is_admin %}
        <span class="text-danger align-right">管理员</span>
        {% endif %}
    </div>    
    <a href={% url 'user:course' %} class="btn btn-outline-warning align-right" style="display: inline-block; position: absolute; right: 0;" draggable="false">返回课程选择</a>        
</nav>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mx-5">
        <div class="card border-info mb-3" style="width: 18rem;">
            <div class="card-header bg-info">
                <h3>题库管理</h3>
            </div>
            <div class="card-body">
                <p class="card-text">按类别管理题库，添加题目、删除题目、修改题目等等。
                    <br>题目类型包含：填空题、判断题、单选题、多选题、排序题、配对题
                </p>
            </div>
            <div class="card-footer">
                <a href={% url 'course:question-editor' %} class="btn btn-primary">进入</a>
                <a href={% url 'course:question-importer' %} class="btn btn-dark">通过Excel导入</a>
            </div>
        </div>
        <div class="card border-info mb-3" style="width: 18rem;">
            <div class="card-header bg-secondary">
                <h3>资料管理</h3>
            </div>
            <div class="card-body">
                <p class="card-text">管理每章节的教学资料。
                    <br>添加、管理教学资料，视频、ppt、图片、录音文件，以及描述、或者文字课程。
                </p>
            </div>
            <div class="card-footer">
                <a href={% url 'course:lesson_editor' %} class="btn btn-primary">进入</a>
            </div>
        </div>
        <div class="card border-info mb-3" style="width: 18rem;">
            <div class="card-header bg-primary">
                <h3>学生信息管理</h3>
            </div>
            <div class="card-body">
                <p class="card-text">管理学生成绩、以及课程相关资料等。</p>
            </div>
            <div class="card-footer">
                <a href={% url 'user:student_manager' %} class="btn btn-primary">进入</a>
            </div>
        </div>
        <div class="card border-info mb-3" style="width: 18rem;">
            <div class="card-header bg-danger">
                <h3>考试管理</h3>
            </div>
            <div class="card-body">
                <p class="card-text">新建试卷，安排考试时间。查看每次考试的成绩等</p>
            </div>
            <div class="card-footer">
                <a href="{% url 'course:exam_editor' %}" class="btn btn-primary">进入</a>
            </div>
        </div>
        <div class="card border-success mb-3" style="width: 18rem;">
            <div class="card-header bg-success">
                <h3>班级设置</h3>
            </div>
            <div class="card-body">
                <p class="card-text">老师管理的班级相关信息：练习模式、以及练习的题目数量</p>
            </div>
            <div class="card-footer">
                <a href="{% url 'course:class_setting' %}" class="btn btn-primary">进入</a>
            </div>
        </div>
        <div class="card border-info mb-3" style="width: 18rem;">
            <div class="card-header bg-warning">
                <h3>公告管理</h3>
            </div>
            <div class="card-body">
                <p class="card-text">发布公告</p>
            </div>
            <div class="card-footer">
                <a href={% url 'notice:public' %} class="btn btn-primary align-bottom">进入</a>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block pageInclude %}
    <link rel="stylesheet" href="{% static 'css/edu/teacher/teacher_main.css' %}"/>
{% endblock %} 