
<nav class="navbar navbar-expand navbar-dark bg-dark w-100">
    <div class="collapse navbar-collapse w-50" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item w-50">
            <a class="nav-link" href={% url 'course:question-editor' %}>题库管理</a>
        </li>
        <li class="nav-item w-50">
            <a class="nav-link" href={% url 'user:student_manager' %}>学生管理</a>
        </li>
        <li class="nav-item w-50">
            <a class="nav-link" href="#">考试管理</a>
        </li>
        <li class="nav-item w-50">
            <a class="nav-link" href={% url 'notice:public' %}>公告管理</a>
        </li>
    </ul>
    </div>
    <a href={% url 'user:teacher' %} class="btn btn-primary">返回</a>
</nav>
