body {
    background-image: url('/Statics/images/BGs/color-01.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
}