.boxChecker input[type='checkbox']{
    display: inline-block;
    display: none;
}

.boxChecker input[type='checkbox']:checked{
    display: inline-block;
    display: none;
}

.boxChecker input[type='checkbox'] + label {
    font-family: inherit;
    display: inline-block;
    font:inherit;
    color: gray;
    margin-left: -2px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
    border-width: medium;
    border-style: solid;
    border-radius: 0.5rem;
    border-color: rgba(1, 41, 48, 0.178);   
}

.boxChecker input[type='checkbox']:checked + label {
    font-family: inherit;
    display: inline-block;
    font:inherit;
    color: darkred;

    margin-left: -2px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
    
    box-sizing: border-box;
    background-color: cadetblue;

    border-width: medium;
    border-style: solid;
    border-radius: 0.5rem;
    border-left-color: rgb(51, 82, 83);
    border-top-color: rgb(51, 82, 83);
    border-right-color: rgb(203, 248, 250);
    border-bottom-color:rgb(203, 248, 250);
}

.btnTrack {
    background: linear-gradient(to right,#eb6370e0, #cea014d5)
}

.btn_left_right {
    transition-property: color, background-color, left, width;
    transition-duration: 0.5s;
}

.teacher_BG {
    background-image: url('/Statics/images/BGs/BG_sm.jpg')
}

.text_outline {
    text-shadow:1px 0px 3px #000,-1px 0px 3px #000,0px 1px 3px #000,0px -1px 3px #000,1px 1px 3px #000,1px -1px 3px #000, -1px 1px 3px #000, -1px -1px 3px #000;
}


@keyframes key_text_g_l {
    30% {text-shadow: 0px -16px 1px #40c760;}
    100% {text-shadow: 0px -22px 1px #40c76000;}
}

.text_glow_light_anim {
    -webkit-animation: key_text_g_l 1.5s infinite;
    animation: key_text_g_l 1.5s infinite;
}

.bg_gray_d2u {
    background: linear-gradient(rgba(255, 255, 255, 0.882),rgba(139, 139, 139, 0.898)); /* 标准的语法 */
}

.bg_black_d2u {
    background: linear-gradient(rgba(255, 255, 255, 0.616),rgba(63, 63, 63, 0.769));
}

.bg_black_u2d {
    background: linear-gradient(rgba(32, 32, 32, 0.706),rgba(255, 255, 255, 0.78));
}