{% load static %}
<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        {% block jsFunctionLib %}        
        {% endblock %}
        {% block pageInclude %}
        {% endblock %}
    	<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
    	<title>{% block title %}{% endblock %}</title>
    </head>
    <body>   
        {% block header %}{% endblock %}
        {% block content %}{% endblock %}
        {% block foot %}{% endblock %}           
        {% block jsPage %}{% endblock %}
    </body>
</html>