{% load static %}
<div class="form-inline" id="">
    <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
            <label id="lb_option0" style="width:120px" class="input-group-text" for="key_option0">正确选项 A</label>
        </div>
        <input type="text" form="Form_OptionEditor" id="text_option0" data-index="0" class="form-control">
    </div>
    <input type="radio" id="" value="0" class="form-check-input mb-2 mr-sm-2">
</div>

<div class="input-group mb-2 mr-sm-2">
    <div class="input-group-prepend">
        <label id="lb_option0" style="width:120px" class="input-group-text" for="key_option0">正确选项 A</label>
    </div>
    <input type="text" form="Form_OptionEditor" id="text_option0" data-index="0" class="form-control" disabled>
</div>